/*
* ----------------------------------------------------------------------------------------
Author       :  pixshed
Template Name:  Mega Jobs - Job board
Version      :  1.0
* ----------------------------------------------------------------------------------------
*/

*:focus {
	outline: none;
}

.form-control:focus {
	box-shadow: none;
	border-color: #d1d1d1;
}

.btn:not(.note-btn) {
	height: 40px;
	padding: 9px 15px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 20px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}

.btn:not(.note-btn):hover,
.btn:not(.note-btn):active,
.btn:not(.note-btn):focus {
	box-shadow: none;
	outline: none;
}

@media screen and (max-width: 320px) {
	.btn:not(.note-btn) {
		font-size: 14px;
	}
}

.btn-default:not(.note-color-reset) {
	color: #666666;
	border-color: #FFF;
}

.btn-default:not(.note-color-reset):hover,
.btn-default:not(.note-color-reset):active,
.btn-default:not(.note-color-reset):focus {
	background-color: #344154;
	border-color: #344154;
	color: #FFF;
}

.btn-primary {
	line-height: 30px;
	color: #FFF;
	background: #f53157;
	border-color: #f53157;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	border-color: #cf0a30;
	background-color: #cf0a30;
}

.btn.btn-secondary {
	height: 50px;
	padding: 14px 15px;
	line-height: 20px;
	background-color: #55d3e1;
	border-color: #55d3e1;
	color: #FFF;
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus,
.btn.btn-secondary:active {
	background-color: #23b6c6;
	border-color: #23b6c6;
}

.btn-sm:not(.note-btn) {
	padding: 6px 15px;
	font-size: 14px;
	font-weight: 400;
	line-height: 28px;
}

.btn-inverse {
	background-color: #666666;
	border-color: #666666;
	color: #FFF;
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse:focus {
	color: #FFF;
	border-color: #333333;
	background-color: #333333;
}

.btn-toggle {
	width: 50%;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 400;
	color: #55d3e1;
	background-color: #FFF;
	border-color: #55d3e1;
}

.btn-toggle.active {
	color: #FFF;
	background-color: #55d3e1;
	box-shadow: none;
}

.btn-link {
	font-size: 14px;
	font-weight: 300;
	color: #1b9cff;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
	color: #121212;
	text-decoration: none;
}

.btn.btn-special {
	background-color: #55d3e1;
	border-color: #55d3e1;
	color: #FFF;
	font-size: 20px;
	line-height: 26px;
	padding: 12px 35px;
	height: 50px;
}

.btn.btn-special:hover,
.btn.btn-special:focus,
.btn.btn-special:active {
	background-color: #f53157;
	border-color: #f53157;
	color: #FFF;
}

.btn-group {
	font-family: 'Montserrat', sans-serif;
}

.btn-group:not(.note-btn-group) .btn+.btn {
	margin-left: 15px;
}

.btn-group:not(.note-btn-group) .btn-toggle+.btn-toggle {
	margin: 0;
}

.label {
	font-size: 14px;
	font-weight: 400;
	padding: 5px 12px;
	border-radius: 0;
}

.label-lg {
	font-size: 16px;
	font-weight: 300;
	padding: 10px 15px;
}

.label-default {
	display: inline-block;
	background-color: #f7f7f7;
	color: #333333;
}

.progress {
	height: 10px;
	box-shadow: none;
	background-color: #FFF;
	border: #d1d1d1 1px solid;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #55d3e1;
	border-color: #55d3e1;
	margin: 18px 15px 18px 0;
}

.navbar-inverse .navbar-toggle .icon-bar,
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
	background-color: #FFF;
}

.custom-input {
	position: relative;
	overflow: hidden;
}

.custom-input>span {
	height: 70px;
	padding: 20px;
	background-color: #f53157;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	color: #FFF;
	text-transform: uppercase;
	display: block;
	text-align: center;
}

.custom-input>span>i {
	font-size: 24px;
	margin-right: 10px;
}

.custom-input>input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

input[type="checkbox"]:not(:checked),
input[type="radio"]:not(:checked),
input[type="checkbox"]:checked,
input[type="radio"]:checked {
	position: absolute;
	left: -9999px;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 3px;
	width: 16px;
	height: 16px;
	border: 1px solid #b0b0b0;
	background: #DDD;
	border-radius: 3px;
	box-shadow: inset 0 1px 0px #FFF;
	-moz-box-shadow: inset 0 1px 0px #FFF;
	-webkit-box-shadow: inset 0 1px 0px #FFF;
	-o-box-shadow: inset 0 1px 0px #FFF;
	-ms-box-shadow: inset 0 1px 0px #FFF;
}

input[type="checkbox"]+label:after,
input[type="radio"]+label:after {
	content: '✔';
	position: absolute;
	top: -1px;
	left: 1px;
	font-size: 22px;
	line-height: 0.8;
	color: #09ad7e;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:not(:checked)+label:after,
input[type="radio"]:not(:checked)+label:after {
	opacity: 0;
	transform: scale(0);
}

input[type="checkbox"]:checked+label:after,
input[type="radio"]:checked+label:after {
	opacity: 1;
	transform: scale(1);
}

input[type="checkbox"]:disabled:not(:checked)+label:before,
input[type="radio"]:disabled:not(:checked)+label:before,
input[type="checkbox"]:disabled:checked+label:before,
input[type="radio"]:disabled:checked+label:before {
	box-shadow: none;
	border-color: #bbb;
	background-color: #ddd;
}

input[type="checkbox"]:disabled:checked+label:after,
input[type="radio"]:disabled:checked+label:after {
	color: #999;
}

input[type="checkbox"]:disabled+label,
input[type="radio"]:disabled+label {
	color: #aaa;
}

input[type="checkbox"]:checked:focus+label:before,
input[type="radio"]:checked:focus+label:before,
input[type="checkbox"]:not(:checked:focus)+label:before,
input[type="radio"]:not(:checked:focus)+label:before {
	outline: none;
}

input[type="radio"]+label:before {
	content: '';
	border-radius: 8px;
}

input[type="radio"]+label:after {
	content: '';
	height: 8px;
	width: 8px;
	border-radius: 6px;
	top: 7px;
	left: 4px;
	background-color: #09ad7e;
}

input[type="radio"]:checked+label:after {
	opacity: 1;
	transform: scale(1);
}

input[type="radio"]:disabled:checked+label:after {
	background-color: #999;
}
.signup-signin h1{
font-size:30px;
}