/*
* ----------------------------------------------------------------------------------------
Author       :  pixshed
Template Name:  Mega Jobs - Job board
Version      :  1.0
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.HEADER CSS STYLE
* 03.BANNER CSS STYLE
* 04.BLOG CSS STYLE
* 05.PLANS AND PRICING CSS STYLE
* 06.WHY MEGA JOBS CSS STYLE
* 07.ALPHA FILTERS CSS STYLE
* 08.SIGNUP AND SIGNIN CSS STYLE
* 09.CHOOSE PLANS CSS STYLE
* 10.ERROR PAGES CSS STYLE
* 11.ABOUT US PAGE CSS STYLE
* 12.JOBS AND COMPANY PANEL CSS STYLE
* 13.JOB & COMPANY LIST CSS STYLE
* 14.RECENT ALERTS CSS STYLE
* 15.JOB ALERT CSS STYLE
* 16.PAGINATION CSS STYLE
* 17.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #344154;
}

a {
	text-decoration: none;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
	text-decoration: none;
}

img {
	width: 100%;
	max-width: 100%;
}

img.bordered {
	border: #f1f9fc 10px solid;
}

ul,
li {
	margin: 0;
	padding: 0;
	
}

fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}

p.intro-text {
	margin: 0 0 50px;
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
}

section {
	padding: 100px 0;
}


/*
* ----------------------------------------------------------------------------------------
* 02.HEADER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

header .navbar {
	margin: 0;
	width: 100%;
}

header.affix {
	background-color: #344154;
}

header .navbar-inverse {
	background-color: rgba(52, 65, 84, 0);
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

header .navbar-inverse .navbar-header .navbar-brand {
	height: 70px;
	padding: 0px;
	margin-left: 0;
}

header .navbar-inverse .navbar-nav {
	float: none;
}

header .navbar-inverse .navbar-nav>li {
	float: none;
	display: inline-block;
	margin: 0;
}

header .navbar-inverse .navbar-nav>li>a {
	padding: 25px 15px;
	font-size: 16px;
	color: #FFF;
}

header .navbar-inverse .navbar-nav>li>a sup {
	font-size: 12px;
	font-weight: 400;
	color: #55d3e1;
}

header .navbar-inverse .navbar-nav>li>a:hover {
	color: #55d3e1;
}

header .navbar-inverse .navbar-nav>li>a:hover sup {
	color: #FFF;
}

header .navbar-inverse .navbar-nav>li.sign-in {
	margin: 10px 0;
}

header .navbar-inverse .navbar-nav>li.sign-in a {
	padding: 0 15px;
}

header .navbar-inverse .navbar-nav>li.sign-in a>span {
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
	position: relative;
	bottom: -4px;
}

header .navbar-inverse .navbar-nav>li.sign-in a small {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	position: absolute;
	top: 5px;
}

header .navbar-inverse .navbar-nav>li.sign-in a i {
	height: 44px;
	width: 44px;
	margin: 3px 0 3px 5px;
	background-color: #FFF;
	border-radius: 50%;
	color: #f53157;
	line-height: 44px;
	font-size: 24px;
	text-align: center;
}

header .navbar-inverse .navbar-nav>li.sign-in a:hover,
header .navbar-inverse .navbar-nav>li.sign-in a:focus {
	background-color: transparent;
	color: #FFF;
}

header .navbar-inverse .navbar-nav>li.open a,
header .navbar-inverse .navbar-nav>li.open a:hover,
header .navbar-inverse .navbar-nav>li.open a:focus {
	background-color: #333333;
}

header .navbar-inverse .navbar-nav>li>.dropdown-menu {
	padding: 15px 0;
	background: #333333;
	min-width: 240px;
	border: none;
}

header .navbar-inverse .navbar-nav>li>.dropdown-menu li>a {
	padding: 10px 20px;
	font-weight: 400;
	font-size: 15px;
	color: #FFF;
	line-height: normal;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

header .navbar-inverse .navbar-nav>li>.dropdown-menu li>a:focus,
header .navbar-inverse .navbar-nav>li>.dropdown-menu li>a:hover {
	color: #FFF;
	text-indent: 10px;
}

header.header-01 .navbar-inverse {
	padding-top: 13px;
}

header.header-01.affix {
	background-color: transparent;
}

header.header-01.affix .navbar-inverse {
	padding-top: 3px;
}

header.header-01 .navbar-nav {
	background-color: #344154;
	box-shadow: 0 -3px 0 0 #f53157;
}

header.header-02,
header.header-03 {
	border-top: #f53157 2px solid;
}

header.header-02 .top-bar,
header.header-03 .top-bar {
	height: 52px;
	padding: 7px 0;
	line-height: 36px;
	color: #9e9e9e;
	background-color: #2c3747;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

header.header-02 .top-bar a,
header.header-03 .top-bar a {
	color: inherit;
	margin-right: 15px;
}

header.header-02 .top-bar a:hover,
header.header-03 .top-bar a:hover {
	color: #e6e6e6;
}

header.header-02 .top-bar .search-field,
header.header-03 .top-bar .search-field {
	position: relative;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

header.header-02 .top-bar .search-field>input[type="text"],
header.header-03 .top-bar .search-field>input[type="text"] {
	width: 100%;
	height: 36px;
	padding: 6px 12px 6px 36px;
	line-height: 24px;
	background-color: #242d3b;
	border: none;
}

header.header-02 .top-bar .search-field>span,
header.header-03 .top-bar .search-field>span {
	position: absolute;
	line-height: 36px;
	left: 12px;
	top: 0;
}

header.header-02.affix .top-bar,
header.header-03.affix .top-bar {
	height: 2px;
	padding: 0;
	overflow: hidden;
}

header.header-02.affix .top-bar .search-field,
header.header-03.affix .top-bar .search-field {
	transform: scale(0, 0);
	transorm-origin: center left;
}

header.header-02 .navbar-inverse,
header.header-03 .navbar-inverse {
	background-color: #344154;
}

header.header-03 .top-bar {
	background-color: #0f1318;
}

header.header-03 .navbar-inverse {
	background-color: rgba(0, 0, 0, 0.3);
}

.mega-dropdown {
	position: static !important;
}

.mega-dropdown .mega-dropdown-menu {
	top: auto;
	left: 50%;
	transform: translate(-50%, 0);
}

.mega-dropdown .mega-dropdown-menu .dropdown-header {
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
}

.mega-dropdown .mega-dropdown-menu>li>ul {
	padding: 0;
	margin: 0;
}

.mega-dropdown .mega-dropdown-menu>li>ul>li {
	list-style: none;
}

.mega-dropdown .mega-dropdown-menu>li>ul>li>a {
	display: block;
}

.inner-page h6 {
	font-weight: 400;
	margin-bottom: 20px;
}

.inner-page .divider {
	height: 1px;
	margin: 40px 0;
	background-color: #d1d1d1;
}

.inner-page header .navbar-inverse {
	background-color: #344154;
}

.inner-page .plans-pricing {
	padding-top: 130px;
	background-color: #e8e8e8;
	background-position: center -10px;
}

.inner-page .why-us {
	background-color: #e8e8e8;
}

.inner-page section.inner-banner .form-inline {
	margin: 0;
	background-color: rgba(51, 51, 51, 0.12);
}

section {
	/*
* ----------------------------------------------------------------------------------------
* 03.BANNER CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 04.BLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 05.PLANS AND PRICING CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 06.WHY MEGA JOBS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 07.ALPHA FILTERS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 08.SIGNUP AND SIGNIN CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 09.CHOOSE PLANS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 10.ERROR PAGES CSS STYLE
* ----------------------------------------------------------------------------------------
*/
	/*
* ----------------------------------------------------------------------------------------
* 11.ABOUT US PAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/
}

section h5>a {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	color: #1b9cff;
}

section.banner {
	height: 100vh;
	padding: 40vh 0 0 0;
	background: url(../img/bann1.jpg) center center no-repeat;
	position: relative;
	background-size: cover;
}

section.banner h1 {
	margin: 0 0 15px 0;
	color: #FFF;
}

section.banner .search-category {
	color: #FFF;
}

section.banner .search-category b {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #55d3e1;
	margin-right: 10px;
}

section.banner .search-category a {
	color: #FFF;
	margin: 0 3px;
	text-decoration: none;
}

section.banner .search-category a:hover,
section.banner .search-category a:active,
section.banner .search-category a:focus {
	color: #55d3e1;
}

section.banner .client-slider {
	padding: 20px 0;
	background-color: #333333;
	position: absolute;
	width: 100%;
	bottom: 0;
}

section.banner .post-job-title h4,
section.inner-banner .post-job-title h4 {
	font-size: 20px;
	margin: 0;
	padding: 20px 0;
}

section.banner h4,
section.inner-banner h4 {
	margin: 0 0 20px 0;
	font-weight: 400;
	line-height: 22px;
}

section.banner h4>span,
section.inner-banner h4>span {
	font-size: 13px;
}

section.banner p,
section.inner-banner p {
	line-height: 24px;
	margin-bottom: 30px;
}

section.banner .form-inline,
section.inner-banner .form-inline {
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	margin-bottom: 10px;
}

section.banner .form-inline .form-group,
section.inner-banner .form-inline .form-group {
	width: calc(100% - 119px);
}

section.banner .form-inline .form-group.keyword,
section.inner-banner .form-inline .form-group.keyword {
	width: calc((100% - 126px) / 3);
}

section.banner .form-inline .form-group.find,
section.inner-banner .form-inline .form-group.find {
	width: 123px;
}

section.banner .form-inline .form-control,
section.inner-banner .form-inline .form-control {
	margin-right: 7px;
	height: 50px;
	border: none;
	width: calc(100% - 7px);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}

section.banner .form-inline .input-group,
section.inner-banner .form-inline .input-group {
	position: relative;
}

section.banner .form-inline .input-group>i,
section.inner-banner .form-inline .input-group>i {
	font-size: 20px;
	line-height: 50px;
	color: #333333;
	position: absolute;
	top: 0;
	left: 20px;
}

section.banner .form-inline .input-group input[type="submit"],
section.inner-banner .form-inline .input-group input[type="submit"] {
	height: 50px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #344154;
	padding: 13px 30px 13px 50px;
	background-color: #55d3e1;
	border: none;
}

section.banner .form-inline .input-group+.custom-input,
section.inner-banner .form-inline .input-group+.custom-input {
	margin-left: 7px;
}

section.banner .form-inline .custom-input,
section.inner-banner .form-inline .custom-input {
	width: 280px;
	height: 50px;
	line-height: 24px;
	display: inline-table;
	vertical-align: middle;
}

section.banner .form-inline .custom-input>span,
section.inner-banner .form-inline .custom-input>span {
	height: 50px;
	padding: 10px;
}

section.banner .form-inline .form-group.keyword {
	width: calc((100% - 126px) / 3);
}

section.banner-02 {
	height: 100vh;
	padding: 150px 0;
	background: url(../img/banner-bg-2.jpg) center center no-repeat;
	position: relative;
	background-size: cover;
	color: #FFF;
}

section.banner-02 h1 {
	font-size: 36px;
	text-transform: none;
	margin: 30px 0 50px;
}

section.banner-02 h2 {
	font-size: 30px;
	text-transform: none;
	margin-bottom: 30px;
}

section.banner-02 p {
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
	margin-bottom: 30px;
}

section.banner-02 .job-search {
	padding: 30px;
	background-color: #344154;
}

section.banner-02 .job-search .form-control {
	background-color: transparent;
	border-color: rgba(255, 255, 255, 0.5);
	color: #FFF;
}

section.banner-02 .job-search .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

section.banner-02 .job-search .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

section.banner-02 .job-search .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

section.banner-02 .job-search .form-control:focus {
	border-color: rgba(255, 255, 255, 0.7);
}

section.banner-02 .job-search button i {
	margin-right: 10px;
}

section.banner-02 .job-search .custom-input>span {
	height: 50px;
	padding: 10px 20px;
}

/*Map banner*/
#map {
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000;
}

section.browse-jobs {
	background-color: #f1f9fc;
}

section.browse-jobs .form-inline {
	margin-bottom: 50px;
}

section.browse-jobs .form-inline .form-group .form-control {
	height: 50px;
	width: 400px;
	border: #e8e8e8 1px solid;
	box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}

section.browse-jobs .form-inline .input-group {
	position: relative;
	margin: 0 12px;
}

section.browse-jobs .form-inline .input-group>i {
	font-size: 20px;
	line-height: 50px;
	color: #FFF;
	position: absolute;
	top: 0;
	left: 20px;
}

section.browse-jobs .form-inline .input-group input[type="submit"] {
	height: 50px;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	color: #FFF;
	padding: 13px 30px 13px 50px;
	background-color: #f53157;
	border: none;
}

section.browse-jobs .form-inline .btn-group {
	height: 50px;
}

section.browse-jobs .form-inline .btn-group>a {
	height: 50px;
	width: 50px;
	margin-right: -2px;
	font-size: 30px;
	line-height: 50px;
	color: #FFF;
	display: inline-block;
	background-color: #344154;
}

section.browse-jobs .form-inline .btn-group>a.active {
	background-color: #55d3e1;
}

section.browse-jobs ul.job-category-list {
	margin: 0;
	padding: 30px 0;
	list-style: none;
	border: #e8e8e8 1px solid;
	background-color: #FFF;
}

section.browse-jobs ul.job-category-list li {
	position: relative;
}

section.browse-jobs ul.job-category-list li:after {
	content: "";
	width: calc(100% - 40px);
	height: 1px;
	background-color: #e8e8e8;
	position: absolute;
	bottom: 0;
	left: 20px;
	z-index: -1;
}

section.browse-jobs ul.job-category-list li:last-child:after {
	width: 0;
}

section.browse-jobs ul.job-category-list li a {
	display: block;
	position: relative;
	color: #333333;
	line-height: 18px;
	padding: 12px 20px 12px 40px;
}

section.browse-jobs ul.job-category-list li a:before {
	content: "\f138";
	font-family: "FontAwesome";
	font-size: 14px;
	color: #55d3e1;
	position: absolute;
	left: 20px;
}

section.browse-jobs ul.job-category-list li a:hover {
	background-color: #55d3e1;
	color: #FFF;
	text-decoration: none;
	font-weight: 400;
}

section.browse-jobs ul.job-category-list li a:hover:before {
	color: #FFF;
}

section.browse-jobs .grid-view {
	display: none;
}

section.browse-jobs .job-box {
	margin-bottom: 30px;
	position: relative;
	background-color: #FFF;
	border: #e8e8e8 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

section.browse-jobs .job-box .job-details {
	padding: 30px;
}

section.browse-jobs .job-box .job-details h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #344154;
	text-transform: uppercase;
	margin: 0px 0 10px;
}

section.browse-jobs .job-box .job-details h5 {
	font-size: 14px;
	color: #7d8b9e;
	line-height: 16px;
	margin: 0 0 8px;
	padding-bottom: 7px;
	border-bottom: #e8e8e8 1px solid;
}

section.browse-jobs .job-box .job-details p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #7d8b9e;
	height: 54px;
	overflow: hidden;
	margin-bottom: 15px;
}

section.browse-jobs .job-box .job-details .offer {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #55d3e1;
}

section.browse-jobs .job-box .job-details a.mark-favorite {
	font-size: 22px;
	color: #f53157;
}

section.browse-jobs .job-box .ribbon {
	padding: 3px 12px;
	background-color: #55d3e1;
	font-size: 14px;
	font-weight: 400;
	color: #FFF;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
}

section.browse-jobs .job-box:hover {
	box-shadow: 0 3px 0 0 rgba(52, 65, 84, 0.3);
}

section.blog-container .blog-small {
	margin-bottom: 50px;
}

section.blog-container .blog-small a.blog-image {
	display: block;
	position: relative;
}

section.blog-container .blog-small a.blog-image:after {
	border: #7d8b9e 4px solid;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(51, 51, 51, 0);
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

section.blog-container .blog-small .border-box {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	content: "";
	overflow: hidden;
}

section.blog-container .blog-small .border-box:before,
section.blog-container .blog-small .border-box:after {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	z-index: 9;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

section.blog-container .blog-small .border-box:before {
	left: -100%;
	border-top: rgba(255, 255, 255, 0.3) 1px solid;
	border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
}

section.blog-container .blog-small .border-box:after {
	top: -100%;
	left: 0;
	border-left: rgba(255, 255, 255, 0.3) 1px solid;
	border-right: rgba(255, 255, 255, 0.3) 1px solid;
}

section.blog-container .blog-small h2 {
	margin: 20px 0;
	font-size: 16px;
	line-height: 20px;
	color: #344154;
	text-transform: none;
}

section.blog-container .blog-small h2>a {
	color: inherit;
	text-decoration: none;
}

section.blog-container .blog-small p {
	font-weight: 300;
	color: #344154;
	margin-bottom: 15px;
}

section.blog-container .blog-small a.read-more {
	font-weight: 300;
	color: #1b9cff;
}

section.blog-container .blog-small:hover a.blog-image:after {
	border: none;
	background-color: rgba(51, 51, 51, 0.58);
}

section.blog-container .blog-small:hover .border-box:before {
	left: 0;
	top: 0;
}

section.blog-container .blog-small:hover .border-box:after {
	top: 0;
}

section.blog-container .blog-small.blog-large {
	position: relative;
}

section.blog-container .blog-small.blog-large .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(51, 51, 51, 0.58);
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

section.blog-container .blog-small.blog-large .border-box {
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
}

section.blog-container .blog-small.blog-large .border-box .blog-details {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 40px;
	z-index: 99;
}

section.blog-container .blog-small.blog-large .border-box .blog-details h2 {
	font-size: 24px;
	font-weight: 700;
	color: #55d3e1;
	text-transform: uppercase;
}

section.blog-container .blog-small.blog-large .border-box .blog-details h2>a {
	color: inherit;
}

section.blog-container .blog-small.blog-large .border-box .blog-details p {
	color: #FFF;
}

section.blog-container .blog-small.blog-large .border-box .blog-details a {
	color: #55d3e1;
}

section.blog-container .blog-small.blog-large:hover .overlay {
	background-color: rgba(51, 51, 51, 0.93);
}

section.plans-pricing {
	background: #f1f9fc;
	position: relative;
}

section.plans-pricing:before {
	content: "";
	height: 57%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: 0;
	background: #55d3e1;
}

section.plans-pricing h2 {
	color: #344154;
}

section.plans-pricing p.intro-text {
	color: #344154;
}

section.plans-pricing .plan-wrap {
	padding: 30px 15px;
	text-align: center;
	border: #e8e8e8 1px solid;
	background-color: #FFF;
	position: relative;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

section.plans-pricing .plan-wrap h1 {
	color: #1b9cff;
}

section.plans-pricing .plan-wrap .plan-info {
	padding: 30px 15px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	text-align: center;
	z-index: 2;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

section.plans-pricing .plan-wrap .plan-info h3 {
	margin: 10px 0 30px;
	color: #333333;
}

section.plans-pricing .plan-wrap .plan-info h3>span {
	font-size: 16px;
	line-height: 16px;
	color: #7d8b9e;
	font-weight: 300;
	display: block;
	text-transform: none;
}

section.plans-pricing .plan-wrap .plan-info .plan-intro {
	padding: 25px;
	margin-bottom: 25px;
	line-height: 24px;
	color: #344154;
	border-top: #e8e8e8 1px solid;
	border-bottom: #e8e8e8 1px solid;
}

section.plans-pricing .plan-wrap .plan-info p {
	margin-bottom: 0;
}

section.plans-pricing .plan-wrap .plan-info .ribbon {
	position: absolute;
	right: -7px;
	top: 12px;
}

section.plans-pricing .plan-wrap .plan-info .ribbon>span {
	font-size: 11px;
	line-height: 12px;
	width: 60px;
	display: block;
	color: #FFF;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

section.plans-pricing .plan-wrap .plan-info .ribbon:before {
	content: "";
	border-color: transparent #333333 transparent;
	border-width: 0 75px 75px 0;
	border-style: solid;
	position: absolute;
	top: -12px;
	right: 7px;
}

section.plans-pricing .plan-wrap:hover {
	box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-moz-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-webkit-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-o-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-ms-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
}

section.plans-pricing .plan-wrap:hover .plan-info {
	top: -100%;
}

section.plans-pricing .plan-wrap:after {
	content: "";
	display: table;
	clear: both;
}

section.plans-pricing .plan-wrap.essential p>span {
	background-color: #FFCC00;
}

section.plans-pricing .plan-wrap.elite p>span {
	color: #FFF;
	background-color: #FF0000;
}

section.plans-pricing .plan-wrap.extended p>span {
	color: #FFF;
	background-color: #0099CD;
}

section.plans-pricing .plan-wrap .plan-details {
	text-align: center;
	position: relative;
	z-index: 1;
}

section.plans-pricing .plan-wrap .plan-details .list-check {
	padding: 0;
	margin: 0 0 20px;
	list-style: none;
}

section.plans-pricing .plan-wrap .plan-details .list-check li {
	padding: 10px 0;
	display: block;
	border-bottom: #d1d1d1 1px dotted;
	color: #333333;
}

section.plans-pricing .plan-wrap .plan-details .list-check li.deactive {
	color: #e8e8e8;
}

section.plans-pricing .plan-wrap .plan-details .btn+.btn {
	margin-left: 10px;
}

section.why-us {
	background-color: #f1f9fc;
}

section.why-us h2 {
	margin-bottom: 40px;
}

section.why-us .features {
	position: relative;
	padding: 40px 0 10px;
	border-top: #55d3e1 1px solid;
	border-bottom: #55d3e1 1px solid;
}

section.why-us .features:before,
section.why-us .features:after {
	height: 1px;
	width: 100%;
	background-color: #55d3e1;
	position: absolute;
	left: 0;
	content: "";
}

section.why-us .features:before {
	top: 4px;
}

section.why-us .features:after {
	bottom: 4px;
}

section.why-us .features ul {
	list-style: none;
	margin: 0 0 30px;
	padding: 0 8%;
}

section.why-us .features ul li {
	line-height: 32px;
	text-transform: uppercase;
}

section.why-us .features ul li a {
	color: #1b9cff;
}

section.why-us .features ul li a.btn-secondary {
	margin: 0;
	font-size: 18px;
	color: #FFF;
	text-transform: none;
}

section .alpha-filters .filter-by {
	height: 40px;
}

section .alpha-filters .filter-by a {
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 40px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #344154;
	text-decoration: none;
	border-right: transparent 1px solid;
}

section .alpha-filters .filter-by a:hover,
section .alpha-filters .filter-by a:focus,
section .alpha-filters .filter-by a:active,
section .alpha-filters .filter-by a.active {
	background-color: #f53157;
	color: #FFF;
}

section.signup-signin {
	padding: 150px 0 100px;
	background: url(../img/signup-bg.jpg) center center no-repeat;
	position: relative;
	background-size: cover;
}

section.signup-signin h1 {
	color: #FFF;
}

section.signup-signin h1.header-text {
	margin: 30px 0 15px;
	font-size: 48px;
	line-height: 50px;
	color: #f2fafc;
	text-transform: none;
}

section.signup-signin .signin-form {
	padding: 40px;
	margin-bottom: 30px;
	background-color: rgba(14, 18, 24, 0.5);
}

section.signup-signin .signin-form .form-group {
	margin-bottom: 35px;
}

section.signup-signin .signin-form .register-link {
	margin: 30px 0 0 0;
	color: #FFF;
}

section.signup-signin .signin-form .register-link>a {
	font-size: 16px;
	font-weight: 600;
	margin-left: 25px;
	color: #55d3e1;
	text-decoration: none;
	text-transform: uppercase;
}

section.signup-signin .signin-form .register-link>a:hover,
section.signup-signin .signin-form .register-link>a:focus,
section.signup-signin .signin-form .register-link>a:active {
	color: #FFF;
}

section.signup-signin .form-control {
	border: none;
}

section.signup-signin .desclimer-text {
	margin: 0;
	color: #f2fafc;
}

section.signup-signin .nav-tabs {
	border-bottom: 1px solid transparent;
}

section.signup-signin .nav-tabs>li {
	margin: 0;
}

section.signup-signin .nav-tabs>li>a {
	margin: 0;
	padding: 15px 50px;
	font-size: 30px;
	font-weight: 300;
	line-height: 32px;
	text-align: center;
	border: none;
	border-radius: 0;
	color: rgba(255, 255, 255, 0.3);
	background-color: rgba(14, 18, 24, 0.3);
}

section.signup-signin .nav-tabs>li>a>span {
	display: block;
	font-size: 16px;
	line-height: 18px;
}

section.signup-signin .nav-tabs>li.active a,
section.signup-signin .nav-tabs>li.active a:focus,
section.signup-signin .nav-tabs>li.active a:hover {
	color: #FFF;
	background-color: rgba(14, 18, 24, 0.5);
	border: none;
}

section.signup-signin .tab-content h6 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 20px;
	color: #FFF;
}

section.signup-signin .tab-content .form-group {
	margin-bottom: 20px;
}

section.signup-signin .tab-content .form-group.checkbox {
	margin-top: 40px;
}

section.signup-signin .tab-content .form-group>p {
	margin: 0;
	line-height: 24px;
	color: #FFF;
	text-transform: uppercase;
}

section.signup-signin .countdown-timer {
	margin: 60px 0;
	text-align: center;
	border-top: #f1f9fc 1px solid;
	border-bottom: #f1f9fc 1px solid;
}

section.signup-signin .countdown-timer>span {
	width: 140px;
	padding: 20px 30px;
	display: inline-block;
	font-size: 48px;
	font-weight: 300;
	line-height: 48px;
	color: #f1f9fc;
	border-right: #f1f9fc 1px solid;
}

section.signup-signin .countdown-timer>span:last-child {
	border: none;
}

section.signup-signin .countdown-timer>span>small {
	font-size: 16px;
	line-height: 20px;
	display: block;
}

section.signup-signin .input-group-btn .btn {
	height: 50px;
	padding: 10px 40px;
	text-transform: uppercase;
}

section.signup-signin.light {
	background: none;
}

section.signup-signin.light h1 {
	color: #344154;
}

section.signup-signin.light .signin-form {
	background-color: #FFF;
	border: #d1d1d1 1px solid;
}

section.signup-signin.light .signin-form .form-group.checkbox {
	color: #666666;
}

section.signup-signin.light .signin-form .form-group.checkbox input[type="checkbox"]+label>a:hover,
section.signup-signin.light .signin-form .form-group.checkbox input[type="checkbox"]+label>a:focus,
section.signup-signin.light .signin-form .form-group.checkbox input[type="checkbox"]+label>a:active {
	color: #333333;
}

section.signup-signin.light .signin-form .form-group.checkbox input[type="checkbox"]+label:before {
	background-color: #d1d1d1;
}

section.signup-signin.light .signin-form .form-group.checkbox>a:hover,
section.signup-signin.light .signin-form .form-group.checkbox>a:focus,
section.signup-signin.light .signin-form .form-group.checkbox>a:active {
	color: #333333;
}

section.signup-signin.light .signin-form .register-link {
	color: #666666;
}

section.signup-signin.light .signin-form .register-link>a:hover,
section.signup-signin.light .signin-form .register-link>a:focus,
section.signup-signin.light .signin-form .register-link>a:active {
	color: #333333;
}

section.signup-signin.light .form-control {
	border: solid 1px #d1d1d1;
}

section.signup-signin.light .desclimer-text {
	margin: 0;
	color: #666666;
}

section.signup-signin.light .nav-tabs>li>a {
	color: rgba(255, 255, 255, 0.4);
	background-color: rgba(51, 51, 51, 0.7);
}

section.signup-signin.light .nav-tabs>li.active a,
section.signup-signin.light .nav-tabs>li.active a:focus,
section.signup-signin.light .nav-tabs>li.active a:hover {
	background-color: #333333;
	color: #FFF;
}

section.signup-signin.light .tab-content h6 {
	color: #666666;
}

section.signup-signin.light .tab-content .form-group>p {
	color: #666666;
}

section.signup-signin.light .countdown-timer {
	border-color: #344154;
}

section.signup-signin.light .countdown-timer>span {
	border-color: #344154;
	color: #344154;
}

section.select-plan {
	background-color: #e8e8e8;
}

section.select-plan h2 {
	margin: 15px 0;
}

section.select-plan p {
	margin: 0 0 30px;
}

section.select-plan .btn-group {
	margin-bottom: 40px;
}

section.select-plan .btn-group .btn {
	height: 40px;
	width: 120px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 38px;
	text-transform: uppercase;
	color: #333333;
}

section.select-plan .btn-group .btn.btn-toggle {
	background-color: #e8e8e8;
	border-color: #FFF;
}

section.select-plan .btn-group .btn.btn-toggle.active {
	background-color: #FFF;
}

section.select-plan .service-features p {
	font-size: 13px;
	line-height: 24px;
}

section.select-plan .service-features ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

section.select-plan .service-features ul li {
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 40px;
}

section.select-plan .service-features ul li b {
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

section.select-plan .service-features ul li i {
	float: right;
	width: 70px;
	margin-left: 25px;
	text-align: center;
	color: #333333;
}

section.select-plan .plan-options>div {
	padding: 0;
}

section.select-plan .plan-options>div .choose-plan-wrap {
	padding: 30px 15px;
	margin: 0 1px 30px 0;
	height: 712px;
	text-align: center;
	background-color: #f1f9fc;
	position: relative;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

section.select-plan .plan-options>div .choose-plan-wrap h4 {
	margin: 15px 0 30px;
}

section.select-plan .plan-options>div .choose-plan-wrap .plan-cost {
	margin: 50px 0;
	font-size: 48px;
	font-weight: 300;
	line-height: 1;
}

section.select-plan .plan-options>div .choose-plan-wrap .plan-cost>span {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	display: block;
	margin-top: 10px;
}

section.select-plan .plan-options>div .choose-plan-wrap ul {
	margin: 0 0 30px;
	padding: 0;
	min-height: 290px;
	list-style: none;
}

section.select-plan .plan-options>div .choose-plan-wrap ul li {
	font-size: 14px;
	font-weight: 300;
	line-height: 36px;
}

section.select-plan .plan-options>div .choose-plan-wrap .btn {
	padding: 9px 25px;
	text-transform: uppercase;
}

section.select-plan .plan-options>div .choose-plan-wrap:hover {
	background-color: #FFF;
	padding: 60px 15px;
	height: 772px;
	margin: -30px 1px 0 0;
	z-index: 9;
	box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-moz-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-webkit-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-o-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
	-ms-box-shadow: 0 0 20px rgba(51, 51, 51, 0.46);
}

section.select-plan .plan-options>div .choose-plan-wrap:hover h4,
section.select-plan .plan-options>div .choose-plan-wrap:hover .plan-cost {
	color: #1b9cff;
}

section.select-plan .plan-options>div .choose-plan-wrap:hover .plan-cost>span {
	color: #333333;
}

section.select-plan .plan-options>div .choose-plan-wrap:hover .btn {
	background-color: #55d3e1;
	border-color: #55d3e1;
}

section.error-page {
	margin-top: 70px;
	position: relative;
	width: 100%;
}

section.error-page .error-code {
	text-align: center;
	border-bottom: #d1d1d1 1px solid;
}

section.error-page .error-code>img {
	padding: 30px 0 60px 0;
}

section.error-page p {
	font-size: 24px;
	font-weight: 300;
	line-height: 40px;
	margin: 30px 0;
}

section.error-page p>span {
	color: #f53157;
}

section.aboutus h3 {
	margin: 0 0 30px;
	line-height: 30px;
}

section.aboutus p {
	line-height: 26px;
	text-align: justify;
	max-height: 208px;
	overflow: hidden;
}

section.aboutus a.btn-special {
	margin-top: 30px;
}


/*
* ----------------------------------------------------------------------------------------
* 12.JOBS AND COMPANY PANEL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.jobs-tab-panel .nav-tabs {
	border-bottom: #f1f9fc 5px solid;
}

.jobs-tab-panel .nav-tabs>li {
	margin: 0;
}

.jobs-tab-panel .nav-tabs>li>a {
	padding: 0 20px 15px;
	margin: 0;
	color: #344154;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	border: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
}

.jobs-tab-panel .nav-tabs>li>a:focus,
.jobs-tab-panel .nav-tabs>li>a:hover {
	background-color: transparent;
	outline: none;
	color: #1b9cff;
}

.jobs-tab-panel .nav-tabs>li.active a,
.jobs-tab-panel .nav-tabs>li.active a:focus,
.jobs-tab-panel .nav-tabs>li.active a:hover {
	color: #1b9cff;
	border: none;
	box-shadow: 0 5px 0 0 #1b9cff;
}

.jobs-tab-panel .tab-content {
	padding: 30px 0;
}


/*
* ----------------------------------------------------------------------------------------
* 13.JOB & COMPANY LIST CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.job-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.job-list .list-view {
	width: 100%;
	padding: 30px;
	margin-bottom: 3px;
	border-bottom: #73dbe6 1px solid;
}

.job-list .list-view:nth-child(odd) {
	background-color: #f9fdfe;
}

.job-list .list-view:hover {
	background-color: #f1f9fc;
}

.job-list .list-view a {
	text-decoration: none;
}

.job-list .list-view a img {
	display: inline-block;
	margin: 2px 15px 2px 0;
	width: 80px;
	vertical-align: top;
}

.job-list .list-view .list-info {
	display: inline-block;
	vertical-align: middle;
}

.job-list .list-view .list-info h4 {
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	margin: 0;
	color: #0e1218;
	text-transform: uppercase;
	height: 26px;
	width: 100%;
	display: inline-block;
}

.job-list .list-view .list-info h4>a {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #0e1218;
}

.job-list .list-view .list-info .btn {
	height: 40px;
	padding: 9px 25px;
}

.job-list .list-view .list-info .btn-inverse {
	margin: 0;
}

.job-list .list-view .list-info .btn-inverse:hover,
.job-list .list-view .list-info .btn-inverse:focus,
.job-list .list-view .list-info .btn-inverse:active {
	background-color: #55d3e1;
	border-color: #55d3e1;
	color: #333333;
}

.job-list .list-view .list-info p {
	font-weight: 300;
}

.job-list .list-view .list-info p>span>.fa {
	color: #FF8111;
}

.job-list .list-view .list-info p>span>.fa:first-child {
	margin-left: 10px;
}

.job-list .list-view .list-info.job-list-info {
	width: calc(100% - 99px);
}

.job-list .list-view .list-info.job-list-info.candidate-info h4 {
	width: auto;
}

.job-list .list-view:after {
	content: "";
	display: table;
	clear: both;
}

.job-list .job-icons,
.position-intro .job-icons {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}

.job-list .job-icons span,
.position-intro .job-icons span {
	display: inline-block;
	margin-right: 15px;
	color: #666666;
}

.job-list .job-icons span>i,
.position-intro .job-icons span>i {
	font-size: 14px;
	line-height: 20px;
}

.job-list .job-icons span.full-time,
.position-intro .job-icons span.full-time {
	color: #E92F2F;
}

.job-list .job-icons span.part-time,
.position-intro .job-icons span.part-time {
	color: #BC9352;
}

.job-list .job-icons span.freelance-time,
.position-intro .job-icons span.freelance-time {
	color: #669C20;
}

.job-list .job-icons span.contract-time,
.position-intro .job-icons span.contract-time {
	color: #BB3333;
}

.job-list .job-icons a,
.position-intro .job-icons a {
	color: #1b9cff;
}

.job-list .job-icons a:hover,
.position-intro .job-icons a:hover {
	color: #333333;
}

.job-list .job-icons.label-group span,
.position-intro .job-icons.label-group span {
	margin-right: 0;
	margin-bottom: 3px;
}

.job-list .job-icons.label-group span.label-default,
.position-intro .job-icons.label-group span.label-default {
	color: #333333;
}

.job-list .actionbar,
.position-intro .actionbar {
	height: 40px;
	margin-top: 10px;
	background-color: #f7f7f7;
}

.job-list .actionbar>a,
.position-intro .actionbar>a {
	width: 40px;
	height: 40px;
	display: block;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	background-color: #e8e8e8;
	color: #FF8111;
}

.job-list .actionbar p,
.position-intro .actionbar p {
	padding: 10px 15px;
	margin: 0;
	line-height: 20px;
	font-weight: 300;
}

.job-list .actionbar p>span.time-stamp,
.position-intro .actionbar p>span.time-stamp {
	margin-left: 10px;
	color: #2A9201;
}

.company-list {
	list-style: none;
	padding: 0;
}

.company-list .company-grid {
	padding: 20px 20px 0;
	margin-bottom: 30px;
	border: #b1ddff 1px solid;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

.company-list .company-grid>a {
	float: left;
	text-decoration: none;
}

.company-list .company-grid>a img {
	display: inline-block;
	margin: 0px 15px 0px 0;
	width: 80px;
	vertical-align: middle;
}

.company-list .company-grid .company-info {
	display: inline-block;
	width: calc(100% - 95px);
}

.company-list .company-grid .company-info h3 {
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	margin: 5px 0 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.company-list .company-grid .company-info h4 {
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
	color: #333333;
	text-transform: uppercase;
	margin: 10px 0;
}

.company-list .company-grid .company-info p {
	color: #7d8b9e;
}

.company-list .company-grid .company-info h5 {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #1b9cff;
	text-transform: uppercase;
	margin: 20px 0 30px;
}

.company-list .company-grid .actionbar {
	height: 60px;
	padding: 10px;
	margin: 0 -20px;
	text-align: right;
	line-height: 40px;
	background-color: #f2fafc;
	border-radius: 0 0 4px 4px;
}

.company-list .company-grid .actionbar .btn {
	margin: 0 0 0 10px;
}

.company-list .company-grid:hover {
	box-shadow: 0 3px 0 0 rgba(52, 65, 84, 0.3);
}


/*
* ----------------------------------------------------------------------------------------
* 14.RECENT ALERTS CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.recent-alerts {
	padding: 0px;
	margin-bottom: 20px;
}

.recent-alerts h4 {
	margin: 0px;
	padding: 0 20px 15px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #344154;
	text-transform: uppercase;
	border-bottom: #344154 5px solid;
}

.recent-alerts h4>a {
	font-size: 13px;
	font-weight: 400;
	color: #344154;
	text-transform: none;
}

.recent-alerts h4>a:hover {
	color: #344154;
	text-decoration: none;
}

.recent-alerts ul {
	margin: 0;
	padding: 20px 20px;
	list-style: none;
	height: 324px;
	overflow: hidden;
}

.recent-alerts ul li {
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	color: #344154;
	display: block;
	padding: 10px 0 10px 17px;
	position: relative;
}

.recent-alerts ul li:before {
	content: "\f105";
	color: #1b9cff;
	font-family: "FontAwesome";
	font-size: 16px;
	font-weight: 600;
	position: absolute;
	left: 0;
}

.recent-alerts ul li a {
	color: #1b9cff;
}


/*
* ----------------------------------------------------------------------------------------
* 15.JOB ALERT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.job-notification {
	padding: 22px;
	background-color: #55d3e1;
}

.job-notification .center-large-title {
	margin-bottom: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.job-notification .btn-default {
	margin-top: 20px;
}


/*
* ----------------------------------------------------------------------------------------
* 16.PAGINATION CSS STYLE
* ----------------------------------------------------------------------------------------
*/

ul.pagination {
	margin: 20px 0 0 0;
}

ul.pagination li {
	height: 40px;
	font-size: 16px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	line-height: 40px;
	margin-left: 5px;
}

ul.pagination li a {
	height: 40px;
	width: 40px;
	padding: 6px 3px;
	line-height: 26px;
	text-align: center;
	display: block;
	margin: 0;
	background-color: #f1f9fc;
	color: #344154;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

ul.pagination li a>i {
	font-size: 24px;
}

ul.pagination li a:hover,
ul.pagination li a:focus {
	background-color: #c7e7f3;
	box-shadow: 0 3px 0 0 rgba(52, 65, 84, 0.3);
}

ul.pagination li.page-text {
	padding: 0 10px 0 10px;
}

ul.pagination li.page-text:last-child {
	padding: 0 10px 0 5px;
}

ul.pagination li:first-child>a,
ul.pagination li:last-child>a {
	border-radius: 0;
}

ul.pagination li input[type="text"] {
	height: 40px;
	width: 40px;
	border: #f1f9fc 1px solid;
	padding: 6px 3px;
	text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 17.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

footer {
	padding: 100px 0 10px;
	background-color: #344154;
}

footer a.footer-logo {
	display: inline-block;
	margin: 5px 0 26px;
}

footer p {
	font-weight: 300;
	line-height: 24px;
	color: #FFF;
}

footer h5 {
	margin: 15px 0 30px;
	color: #55d3e1;
	text-transform: uppercase;
}

footer ul.quick-links {
	padding: 0;
	margin: 0;
	list-style: none;
}

footer ul.quick-links li a {
	font-weight: 300;
	line-height: 36px;
	color: #FFF;
	display: block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
}

footer ul.quick-links li a:hover {
	padding-left: 10px;
}

footer .copyright {
	margin-top: 30px;
	padding: 30px 0 20px;
	position: relative;
	text-transform: uppercase;
	border-top: rgba(51, 51, 51, 0.35) 1px solid;
	color: #FFF;
}

footer .copyright:before {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	top: 0;
	background-color: rgba(255, 255, 255, 0.3);
}

footer .copyright a {
	color: #55d3e1;
	display: inline-block;
}

footer .copyright .author-info {
	text-align: right;
}

address {
	background-color: #f1f9fc;
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 5px;
	color: #666666;
	box-shadow: 0 3px 0 0 rgba(52, 65, 84, 0.3);
}

address strong {
	font-size: 18px;
	display: block;
	margin-bottom: 5px;
}

ul.social-links {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

ul.social-links li {
	display: block;
	float: left;
	margin: 10px;
}

ul.social-links li a {
	width: 30px;
	height: 30px;
	border: #d1d1d1 1px solid;
	text-align: center;
	line-height: 30px;
	color: #d1d1d1;
	font-size: 16px;
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

ul.social-links li a:hover {
	color: #FFF;
	border-color: #FFF;
	margin-top: -5px;
}

.inner-banner {
	min-height: 200px;
	padding: 120px 0 50px;
	background:url("../img/bann1.jpg"); 
}

.inner-banner h1 {
	margin-bottom: 30px;
	color: #344154;
}

.inner-banner .btn.btn-default {
	height: 50px;
	padding: 9px 35px;
	line-height: 30px;
	text-transform: uppercase;
}

.inner-banner .alpha-filters {
	margin-top: 10px;
}

.inner-banner .sidebar {
	margin-top: 30px;
}

.inner-banner .sidebar .filters-wrap {
	margin: 0;
}

.inner-banner .sidebar .filters-wrap .category-title {
	text-transform: uppercase;
}

.inner-banner .sidebar .filters-wrap .category-title a {
	font-size: 22px;
	color: #FFF;
}

.inner-banner .sidebar .filters-wrap .category-title a>span {
	line-height: 24px;
}

.inner-banner .sidebar .filters-wrap .category-title a:hover,
.inner-banner .sidebar .filters-wrap .category-title a:focus,
.inner-banner .sidebar .filters-wrap .category-title a:active {
	color: #344154;
	text-decoration: none;
}

.inner-banner .sidebar .filters-wrap .filter-list img {
	margin-bottom: 10px;
}

.inner-banner .sidebar .filters-wrap .filter-list p {
	font-weight: 300;
	line-height: 20px;
	color: #666666;
}

.inner-banner .sidebar .filters-wrap .filter-list p>b {
	display: block;
	font-weight: normal;
	color: #333333;
}

.inner-banner .sidebar .filters-wrap .filter-list a.link {
	margin: 20px 0;
	display: inline-block;
	color: #1b9cff;
	text-decoration: none;
}

.inner-banner .sidebar .filters-wrap .filter-list a.link:hover,
.inner-banner .sidebar .filters-wrap .filter-list a.link:focus,
.inner-banner .sidebar .filters-wrap .filter-list a.link:active {
	color: #333333;
}

.inner-banner .sidebar .filters-wrap .filter-list .followers-count {
	margin: 10px 0;
}

.search-result-values {
	padding: 15px 0;
	background-color: #f7f7f7;
	box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.12);
	-moz-box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.12);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.12);
	-o-box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.12);
	-ms-box-shadow: 0px 3px 3px 0px rgba(51, 51, 51, 0.12);
}

.search-result-values h5 {
	text-transform: none;
}

.search-result-values h6 {
	margin: 10px 0;
}

.search-result-values .btn-inverse {
	margin: 0 0 0 15px;
	text-transform: uppercase;
}

.search-result-values .search-company {
	padding: 4px;
	background-color: #FFF;
	border: #e8e8e8 1px solid;
}

.search-result-values .search-company .form-control {
	border-radius: 0;
	height: 40px;
	padding: 10px;
	border: none;
	box-shadow: none;
	width: calc(100% - 140px);
	display: inline;
}

.search-result-values .search-company .btn-inverse {
	font-weight: 400;
	padding: 10px 25px;
}

.search-result h5 {
	margin-bottom: 45px;
}

.position-intro {
	padding: 30px 30px 0;
	margin-top: 30px;
	background-color: #FFF;
}

.position-intro .company-info h1 {
	width: 100%;
}

.position-intro .company-info h1>small {
	line-height: inherit;
	font-weight: 400;
	color: #1b9cff;
}

.position-intro .company-info p {
	color: #344154;
}

.position-intro h1 {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #344154;
	margin: 0 0 5px 0;
	width: calc(100% - 100px);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.position-intro .btn-group {
	margin: 36px 0 30px;
	width: 100%;
}

.position-intro .btn-group .btn {
	height: 40px;
	padding: 9px 15px;
}

.position-intro .actionbar {
	margin: 0 -30px;
}

.position-intro address {
	margin: 30px 0;
	overflow: hidden;
}

.position-details h5 {
	margin: 0 0 40px;
	text-transform: uppercase;
}

.position-details .well {
	font-weight: 300;
	line-height: 36px;
	padding: 15px 20px;
	margin-bottom: 30px;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.position-details .label-group {
	display: block;
}

.position-details .label-group .label {
	margin-bottom: 3px;
}

.position-details .position-footer {
	background-color: #f7f7f7;
	padding: 20px;
	margin: 30px 0 60px;
}

.position-details .position-footer .btn {
	height: 40px;
	padding: 9px 15px;
}

.position-details .similar-jobs-section h5 {
	position: relative;
	padding-bottom: 15px;
	border-bottom: #e8e8e8 1px solid;
}

.position-details .similar-jobs-section h5:after {
	content: "";
	height: 1px;
	width: 100%;
	display: block;
	position: absolute;
	bottom: 4px;
	background-color: #e8e8e8;
}

.position-details .similar-jobs-section.job-list .list-view .list-info {
	display: block;
	padding: 0;
}

.position-details .similar-jobs-section.job-list .list-view .list-info h4 {
	display: block;
	width: 100%;
}

.position-details .similar-jobs-section.job-list .list-view .list-info .job-icons {
	margin-bottom: 10px;
}

.position-details .similar-jobs-section.job-list .list-view .list-info p>b {
	font-weight: 400;
}

.position-details .similar-jobs-section.job-list .list-view .list-info p .time-stamp {
	color: #2a9201;
	margin-left: 10px;
}

.candidate-profile .primary-info {
	font-size: 16px;
}

.candidate-profile .primary-info .fa {
	font-size: 22px;
	text-align: center;
	margin: 15px 10px 15px 0;
	vertical-align: middle;
}

.candidate-profile .primary-info p {
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 25px;
	color: #666666;
}

.candidate-profile .timeline {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.candidate-profile .timeline:before {
	content: "";
	width: 9px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 5px;
	background-color: #e8e8e8;
	border-radius: 2px;
}

.candidate-profile .timeline li {
	position: relative;
	padding: 30px 0 15px 45px;
}

.candidate-profile .timeline li:before {
	width: 19px;
	height: 19px;
	content: "";
	position: absolute;
	left: 0;
	top: 34px;
	border-radius: 10px;
	background-color: #666666;
}

.candidate-profile .timeline li:first-child:before {
	background-color: #1b9cff;
}

.candidate-profile .timeline li p {
	font-size: 14px;
	line-height: 26px;
	color: #666666;
}

.candidate-profile .timeline li p>b {
	display: block;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
	color: #333333;
}

.sidebar .filters-wrap {
	margin-bottom: 20px;
	border: #55d3e1 1px solid;
}

.sidebar .filters-wrap .category-title {
	padding: 12px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #FFF;
	background-color: #55d3e1;
	position: relative;
}

.sidebar .filters-wrap .category-title a.expand {
	color: #FFF;
}

.sidebar .filters-wrap .filter-list {
	padding: 7px 15px;
}

.sidebar .filters-wrap .filter-list .input-group {
	display: block;
	margin: 7px 0px;
	position: relative;
}

.sidebar .filters-wrap .filter-list .input-group>input {
	width: 100%;
	height: 38px;
	border: none;
	font-weight: 300;
	color: #344154;
	padding: 10px 35px 10px 15px;
	background-color: #f1f9fc;
}

.sidebar .filters-wrap .filter-list .input-group>input+i {
	position: absolute;
	font-size: 18px;
	line-height: 38px;
	color: #344154;
	top: 0;
	right: 10px;
}

.sidebar .filters-wrap .filter-list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar .filters-wrap .filter-list ul li {
	padding: 8px 0;
	height: 40px;
}

.sidebar .filters-wrap .filter-list ul li label {
	font-weight: 300;
	margin: 0;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: calc(100% - 50px);
}

.sidebar .filters-wrap .filter-list ul li span {
	line-height: 24px;
}

.sidebar .filters-wrap .filter-list form {
	margin-top: 8px;
	margin-bottom: 8px;
}

.sidebar .filters-wrap .filter-list .form-control {
	height: 30px;
	padding: 5px 15px;
}

.sidebar .filters-wrap .filter-list input[type="number"].form-control {
	padding: 5px;
}

.sidebar .job-notification {
	margin-bottom: 30px;
}

.sidebar .keywords-wrap {
	margin-bottom: 30px;
	display: inline-block;
}

.sidebar .keywords-wrap .label {
	height: 30px;
	padding: 6px;
	margin: 0 6px 6px 0;
	font-size: 14px;
	font-weight: 300;
	color: #333333;
	text-decoration: none;
	border: #d1d1d1 1px solid;
	border-radius: 2px;
	float: left;
}

.sidebar a.advertisement {
	display: inline-block;
	margin-bottom: 30px;
}

.sidebar .user-intro {
	margin-bottom: 30px;
	background-color: #e8e8e8;
}

.sidebar .user-intro>img {
	border-bottom: #1b9cff 5px solid;
}

.sidebar .user-intro .candidate-info {
	padding: 0 30px 30px;
	text-align: center;
}

.sidebar .user-intro .candidate-info .img-circle {
	margin: -85px 0 20px;
	border: #1b9cff 5px solid;
}

.sidebar .user-intro .candidate-info h4 {
	font-weight: 600;
	text-transform: none;
	color: #1b9cff;
}

.sidebar .user-intro .candidate-info p {
	margin: 0;
}

.sidebar .user-intro .candidate-info .rating-star {
	margin-top: 10px;
	font-size: 17px;
}

.sidebar .user-intro .candidate-info .rating-star>.fa {
	color: #FF8111;
}

.sidebar .user-intro .candidate-info ul.social-links {
	display: inline-block;
	margin: 20px 0 0 0;
}

.sidebar .user-intro .candidate-info ul.social-links li>a {
	border-color: #666666;
	color: #666666;
}

.sidebar .social-connect {
	text-align: center;
}

.sidebar .social-connect .btn.btn-special {
	height: 50px;
	padding: 9px 20px;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 30px;
}

.sidebar .social-connect .btn.btn-special>.fa {
	font-size: 20px;
	margin-right: 10px;
	vertical-align: middle;
}

ul.list-item {
	margin: 0 0 30px;
	padding: 0;
}

ul.list-item li {
	font-weight: 300;
	line-height: 26px;
	padding: 0 0 10px 30px;
	list-style: none;
}

ul.list-item li:before {
	content: "\f138";
	font-family: "FontAwesome";
	font-size: 14px;
	line-height: 26px;
	color: #d1d1d1;
	position: absolute;
	left: 17px;
}

form .form-group {
	margin-bottom: 20px;
	position: relative;
}

form .form-group.checkbox {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #FFF;
}

form .form-group.checkbox input[type="checkbox"]+label {
	padding-left: 35px;
}

form .form-group.checkbox input[type="checkbox"]+label>a {
	color: #55d3e1;
	text-decoration: none;
}

form .form-group.checkbox input[type="checkbox"]+label>a:hover,
form .form-group.checkbox input[type="checkbox"]+label>a:focus,
form .form-group.checkbox input[type="checkbox"]+label>a:active {
	color: #FFF;
}

form .form-group.checkbox input[type="checkbox"]+label:before {
	height: 20px;
	width: 20px;
	top: 0;
	border: none;
	border-radius: 0;
	background-color: #FFF;
}

form .form-group.checkbox input[type="checkbox"]+label:after {
	top: 2px;
}

form .form-group.checkbox>a {
	margin-left: 15px;
	color: #55d3e1;
	text-decoration: none;
}

form .form-group.checkbox>a:hover,
form .form-group.checkbox>a:focus,
form .form-group.checkbox>a:active {
	color: #344154;
}

form .form-group .custom-input>span {
	height: 50px;
	padding: 10px 20px;
}

form .form-group.custom-select:after {
	content: "\f0d7";
	font-family: "FontAwesome";
	font-size: 24px;
	color: #666666;
	line-height: 48px;
	text-align: center;
	height: 48px;
	width: 30px;
	display: block;
	background-color: #FFF;
	position: absolute;
	top: 1px;
	right: 1px;
	pointer-events: none;
}

form .form-group textarea.form-control {
	height: 90px;
	resize: none;
}

.form-inline .form-control {
	padding: 8px 15px;
	text-transform: none;
}

.team-member {
	background-color: #FFF;
}

.team-member .team-mate-intro {
	padding: 30px;
}

.team-member .team-mate-intro h4 {
	margin-top: 0;
	line-height: 24px;
}

.team-member .team-mate-intro h6 {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	margin: 0 0 25px;
	text-transform: uppercase;
}

.team-member .team-mate-intro p {
	line-height: 26px;
	font-weight: 300;

	margin-bottom: 25px;
	overflow: hidden;
	text-align: justify;
}

.team-member .team-mate-intro ul.social-links li {
	margin: 0 12px 0 0;
}

.team-member .team-mate-intro ul.social-links li a {
	color: rgba(52, 65, 84, 0.5);
	border-color: rgba(52, 65, 84, 0.5);
}

.team-member .team-mate-intro ul.social-links li a:hover {
	color: #344154;
	border-color: #344154;
	margin-top: -5px;
}

.client-list {
	margin-bottom: -20px;
}

.client-list a {
	margin: 0 10px 20px;
	display: inline-block;
}

.form-control {
	box-shadow: none;
	border-color: #e8e8e8;
	color: #344154;
}

.form-control:not(.note-image-input) {
	height: 50px;
	padding: 15px;
	border-radius: 0;
}

.form-control:not(.note-image-input)::-webkit-input-placeholder {
	color: #333333;
}

.form-control:not(.note-image-input)::-moz-placeholder {
	color: #333333;
}

.form-control:not(.note-image-input):-ms-input-placeholder {
	color: #333333;
}

.form-control:not(.note-image-input)+span.required {
	display: none;
}

.form-control:not(.note-image-input)[required]+span.required {
	font-size: 18px;
	display: block;
	width: 18px;
	line-height: 1.3;
	color: #FF0000;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 10;
	pointer-events: none;
}

.form-control:not(.note-image-input)[required]+span.required:before {
	content: "";
	border-style: solid;
	border-width: 30px 0px 0px 30px;
	border-color: rgba(51, 51, 51, 0.24) transparent;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}