/*
* ----------------------------------------------------------------------------------------
Author          : pixshed
Template Name   : Mega Jobs - Job board
Version         : 1.0
* ----------------------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6{
    font-family:'Montserrat', sans-serif;
    font-weight:400;
}
h1, h2, h3, h4{
    text-transform:uppercase;
}
h1{
    font-size:30px;
    line-height:30px;
    margin:0 0 50px;
}
h2{
    font-size:36px;
    line-height:30px;
    margin:0 0 50px;
}
h3{
    font-size:30px;
    line-height:36px;
}
h4{
    font-size:24px;
    line-height:28px;
}
h5{
    font-size:15px;
    line-height:24px;
}
h6{
    font-size:18px;
    line-height:20px;
    font-weight:400;
}

/* Mixins */

@media screen and (min-width:1024px){
    .margin-0{
        margin:0 !important;
    }
}
.padding-top-0{
    padding-top:0;
}
.padding-bottom-0{
    padding-bottom:0 !important;
}
.clear-float{
    content:"";
    display:table;
    clear:both;
}
.border-radius-none{
    border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
}
.border-radius-4{
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
}
.rotate-45{
    transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
}
.transition-02s{
    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
}
.transition-05s{
    transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
}
.hover-boxshadow{
    box-shadow:0 0 20px rgba(51, 51, 51, 0.46);
    -moz-box-shadow:0 0 20px rgba(51, 51, 51, 0.46);
    -webkit-box-shadow:0 0 20px rgba(51, 51, 51, 0.46);
    -o-box-shadow:0 0 20px rgba(51, 51, 51, 0.46);
    -ms-box-shadow:0 0 20px rgba(51, 51, 51, 0.46);
}
.hover-boxshadow-lower{
    box-shadow:0 4px 4px rgba(51, 51, 51, 0.24);
    -moz-box-shadow:0 4px 4px rgba(51, 51, 51, 0.24);
    -webkit-box-shadow:0 4px 4px rgba(51, 51, 51, 0.24);
    -o-box-shadow:0 4px 4px rgba(51, 51, 51, 0.24);
    -ms-box-shadow:0 4px 4px rgba(51, 51, 51, 0.24);
}
.grid-shadow{
    box-shadow:0px 3px 3px 0px rgba(51, 51, 51, 0.12);
    -moz-box-shadow:0px 3px 3px 0px rgba(51, 51, 51, 0.12);
    -webkit-box-shadow:0px 3px 3px 0px rgba(51, 51, 51, 0.12);
    -o-box-shadow:0px 3px 3px 0px rgba(51, 51, 51, 0.12);
    -ms-box-shadow:0px 3px 3px 0px rgba(51, 51, 51, 0.12);
}
.inset-box-shadow{
    box-shadow:inset 0 1px 0px #FFF;
    -moz-box-shadow:inset 0 1px 0px #FFF;
    -webkit-box-shadow:inset 0 1px 0px #FFF;
    -o-box-shadow:inset 0 1px 0px #FFF;
    -ms-box-shadow:inset 0 1px 0px #FFF;
}
