/*
* ----------------------------------------------------------------------------------------
Author       :  pixshed
Template Name:  Mega Jobs - Job board
Version      :  1.0
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* 02.HEADER CSS STYLE
* 03.BANNER CSS STYLE
* 04.BLOG CSS STYLE
* 05.PLANS AND PRICING CSS STYLE
* 06.WHY MEGA JOBS CSS STYLE
* 07.ALPHA FILTERS CSS STYLE
* 08.SIGNUP AND SIGNIN CSS STYLE
* 09.CHOOSE PLANS CSS STYLE
* 10.ERROR PAGES CSS STYLE
* 11.ABOUT US PAGE CSS STYLE
* 12.JOBS AND COMPANY PANEL CSS STYLE
* 13.JOB & COMPANY LIST CSS STYLE
* 14.RECENT ALERTS CSS STYLE
* 15.JOB ALERT CSS STYLE
* 16.PAGINATION CSS STYLE
* 17.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

*{
    box-sizing:border-box;
}

html,
body{
    height:100%
}

body{
    font-family:'Lato', sans-serif;
    font-size:14px;
    line-height:18px;
    font-weight:400;
    color:@color-light-inverse;
}

a{
    text-decoration:none;
    -webkit-transition:all 0.2s;
    transition:all 0.2s;
}
a:hover{
    text-decoration:none;
}

a:focus{
    outline:none;
    text-decoration:none;
}

img{
    width:100%;
    max-width:100%;
    &.bordered{
    	border:@color-lighter 10px solid;
    }
}

ul,
li{
    margin:0;
    padding:0;
}

fieldset{
    border:0 none;
    margin:0 auto;
    padding:0;
}


p.intro-text{
    margin:0 0 50px;
    font-size:14px;
    line-height:26px;
    text-transform:uppercase;
}

section{
    padding:100px 0;
}


/*
* ----------------------------------------------------------------------------------------
* 02.HEADER CSS STYLE
* ----------------------------------------------------------------------------------------
*/
header{
    .navbar{
        margin:0;
        width:100%;
    }
    &.affix{
        background-color:@color-light-inverse;
    }
    .navbar-inverse{
        background-color:fade(@color-light-inverse, 0%);
        border:none;
        .border-radius-none;
        .transition-05s;
        .navbar-header{
            .navbar-brand{
                height:70px;
                padding:14px 19px;
                margin-left:0;
            }
        }
        .navbar-nav{
            float:none;
            > li{
                float:none;
                display:inline-block;
                margin:0;
                > a{
                    padding:25px 15px;
                    font-size:16px;
                    color:@color-dark-inverse;
                    sup{
                        font-size:12px;
                        font-weight:400;
                        color:@color-secondary;
                    }
                    &:hover{
                        color:@color-secondary;
                        sup{
                            color:@color-dark-inverse;
                        }
                    }
                }
                &.sign-in{
                    margin:10px 0;
                    a{
                        padding:0 15px;
                        > span{
                            font-size:20px;
                            font-weight:500;
                            line-height:32px;
                            position:relative;
                            bottom:-4px;
                        }
                        small{
                            font-size:12px;
                            font-weight:400;
                            line-height:18px;
                            position:absolute;
                            top:5px;
                        }
                        i{
                            height:44px;
                            width:44px;
                            margin:3px 0 3px 5px;
                            background-color:@color-dark-inverse;
                            border-radius:50%;
                            color:@color-primary;
                            line-height:44px;
                            font-size:24px;
                            text-align:center;
                        }
                        &:hover,
                        &:focus{
                            background-color:transparent;
                            color:@color-dark-inverse;
                        }
                    }
                }
                &.open a,
                &.open a:hover,
                &.open a:focus{
                    background-color:@text-color-darker;
                }
                >.dropdown-menu{
                    padding:15px 0;
                    background:@text-color-darker;
                    min-width:240px;
                    border:none;
                    li > a{
                        padding:10px 20px;
                        font-weight:400;
                        font-size:15px;
                        color:@color-dark-inverse;
                        line-height:normal;
                        .transition-02s;
                        &:focus,
                        &:hover{
                            color:@color-dark-inverse;
                            text-indent:10px;
                        }
                    }
                }
            }
        }
    }
	&.header-01{
		.navbar-inverse{
			padding-top:13px;
		}
		&.affix{
			background-color:transparent;
			.navbar-inverse{
				padding-top:3px;
			}
		}
		.navbar-nav{
			background-color:@color-light-inverse;
			box-shadow:0 -3px 0 0 @color-primary;
		}
	}
	&.header-02, &.header-03{
		border-top:@color-primary 2px solid;
        .top-bar{
            height:52px;
            padding:7px 0;
            line-height:36px;
            color:darken(@color-dark-inverse, 38%);
			background-color:darken(@color-light-inverse, 4%);
			.transition-05s;
			a{
				color:inherit;
				margin-right:15px;
				&:hover{
					color:darken(@color-dark-inverse, 10%);
				}
			}
			.search-field{
				position:relative;
				.transition-05s;
				> input[type="text"]{
					width:100%;
					height:36px;
					padding:6px 12px 6px 36px;
					line-height:24px;
					background-color:darken(@color-light-inverse, 8%);
					border:none;
				}
				> span{
					position:absolute;
					line-height:36px;
					left:12px;
					top:0;
				}
			}
		}
		&.affix{
			.top-bar{
				height:2px;
				padding:0;
				overflow:hidden;
				.search-field{
					transform:scale(0, 0);
					transorm-origin:center left;
				}
			}
		}
		.navbar-inverse{
			background-color:@color-light-inverse;
		}
	}
	&.header-03{
		.top-bar{
			background-color:darken(@color-light-inverse, 19%);
		}
		.navbar-inverse{
			background-color:fade(darken(@color-dark, 8%), 30%);
		}
	}
}
.mega-dropdown{
    position:static !important;
    .mega-dropdown-menu{
        top:auto;
        left:50%;
        transform:translate(-50%, 0);
        .dropdown-header{
            color:@color-dark-inverse;
            font-size:18px;
            font-weight:bold;
        }
        > li > ul{
            padding:0;
            margin:0;
            > li{
                list-style:none;
                > a{
                    display:block;
                }
            }
        }
    }
}
.inner-page{
    h6{
        font-weight:400;
        margin-bottom:20px;
    }
    .divider{
        height:1px;
        margin:40px 0;
        background-color:lighten(@text-color-darker, 62%);
    }
    header{
        .navbar-inverse{
            background-color:@color-light-inverse;
        }
    }
    .plans-pricing{
        padding-top:130px;
        background-color:lighten(@text-color-darker, 71%);
        background-position:center -10px;
    }
    .why-us{
        background-color:lighten(@text-color-darker, 71%);
    }
    section{
        &.inner-banner{
            .form-inline{
            	margin:0;
                background-color:fade(@text-color-darker, 12%);
            }
        }
    }
}

section{
    h5{
        > a{
            font-family:'Lato', sans-serif;
            font-size:14px;
            color:@color-tertiary;
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 03.BANNER CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.banner{
        height:100vh;
        padding:40vh 0 0 0;
        background:url(../img/banner-bg.jpg) center center no-repeat;
        position:relative;
        background-size:cover;
        h1{
            margin:0 0 15px 0;
            color:@color-dark-inverse;
        }
        .search-category{
            color:@color-dark-inverse;
            b{
                font-family:'Montserrat', sans-serif;
                font-size:16px;
                color:@color-secondary;
                margin-right:10px;
            }
            a{
                color:@color-dark-inverse;
                margin:0 3px;
                text-decoration:none;
                &:hover,
                &:active,
                &:focus{
                    color:@color-secondary;
                }
            }
        }
        .client-slider{
            padding:20px 0;
            background-color:@text-color-darker;
            position:absolute;
            width:100%;
            bottom:0;
        }
    }
    &.banner,
    &.inner-banner{
    	.post-job-title{
    		h4{
	    		font-size:20px;
    			margin:0;
                padding:20px 0;
    		}
    	}
        h4{
            margin:0 0 20px 0;
            font-weight:400;
            line-height:22px;
            > span{
                font-size:13px;
            }
        }
        p{
        	line-height:24px;
        	margin-bottom:30px;
        }
        .form-inline{
            padding:10px;
            background-color:fade(@color-dark-inverse, 30%);
            margin-bottom:10px;
            .form-group{
                width:~"calc(100% - 119px)";
                &.keyword{
                    width:~"calc((100% - 126px) / 3)";
                }
                &.find{
                    width:123px;
                }
            }
            .form-control{
                margin-right:7px;
                height:50px;
                border:none;
                width:~"calc(100% - 7px)";
                .border-radius-none;
            }
            .input-group{
                position:relative;
                > i{
                    font-size:20px;
                    line-height:50px;
                    color:@text-color-darker;
                    position:absolute;
                    top:0;
                    left:20px;
                }
                input[type="submit"]{
                    height:50px;
                    font-size:18px;
                    font-weight:700;
                    line-height:24px;
                    color:@color-secondary-inverse;
                    padding:13px 30px 13px 50px;
                    background-color:@color-secondary;
                    border:none;
                }
                + .custom-input{
                    margin-left:7px;
                }
            }
            .custom-input{
                width:280px;
                height:50px;
                line-height:24px;
                display:inline-table;
                vertical-align:middle;
                > span{
                    height:50px;
                    padding:10px;
                }
            }
        }
    }
    &.banner{
        .form-inline{
            .form-group.keyword{
                width:~"calc((100% - 126px) / 3)";
            }
        }
    }
    &.banner-02{
		height:100vh;
		padding:150px 0;
		background:url(../img/banner-bg-2.jpg) center center no-repeat;
		position:relative;
		background-size:cover;
		color:@color-dark-inverse;
		h1{
			font-size:36px;
			text-transform:none;
			margin:30px 0 50px;
		}
		h2{
			font-size:30px;
			text-transform:none;
			margin-bottom:30px;
		}
		p{
			font-size:18px;
			line-height:26px;
			font-weight:300;
			margin-bottom:30px;
		}
		.job-search{
			padding:30px;
			background-color:@color-light-inverse;
			.form-control{
				background-color:transparent;
				border-color:fade(@color-dark-inverse, 50%);
				color:@color-dark-inverse;
				&::-webkit-input-placeholder{
				    color:fade(@color-dark-inverse, 50%);
				}
				&::-moz-placeholder{
				    color:fade(@color-dark-inverse, 50%);
				}
				&:-ms-input-placeholder{
					color:fade(@color-dark-inverse, 50%);
				}
				&:focus{
					border-color:fade(@color-dark-inverse, 70%);
				}
			}
			button i{
				margin-right:10px;
			}
			.custom-input > span{
				height:50px;
				padding:10px 20px;
			}
		}
    }
    &.browse-jobs{
        background-color:@color-lighter;
        .form-inline{
            margin-bottom:50px;
            .form-group{
                .form-control{
                    height:50px;
                    width:400px;
                    border:lighten(@text-color-darker, 71%) 1px solid;
                    box-shadow:none;
                    .border-radius-none;
                }
            }
            .input-group{
                position:relative;
                margin:0 12px;
                > i{
                    font-size:20px;
                    line-height:50px;
                    color:@color-primary-inverse;
                    position:absolute;
                    top:0;
                    left:20px;
                }
                input[type="submit"]{
                    height:50px;
                    font-size:18px;
                    font-weight:700;
                    line-height:24px;
                    color:@color-primary-inverse;
                    padding:13px 30px 13px 50px;
                    background-color:@color-primary;
                    border:none;
                }
            }
            .btn-group{
                height:50px;
                > a{
                    height:50px;
                    width:50px;
                    margin-right:-2px;
                    font-size:30px;
                    line-height:50px;
                    color:@color-dark-inverse;
                    display:inline-block;
                    background-color:@color-light-inverse;
                    &.active{
                        background-color:@color-secondary;
                    }
                }
            }
        }
        ul.job-category-list{
            margin:0;
            padding:30px 0;
            list-style:none;
            border:lighten(@text-color-darker, 71%) 1px solid;
            background-color:@color-dark-inverse;
            li{
                position:relative;
                &:after{
                    content:"";
                    width:~"calc(100% - 40px)";
                    height:1px;
                    background-color:lighten(@text-color-darker, 71%);
                    position:absolute;
                    bottom:0;
                    left:20px;
                    z-index:-1;
                }
                &:last-child:after{
                    width:0;
                }
                a{
                    display:block;
                    position:relative;
                    color:@text-color-darker;
                    line-height:18px;
                    padding:12px 20px 12px 40px;
                    &:before{
                        content:"\f138";
                        font-family:"FontAwesome";
                        font-size:14px;
                        color:@color-secondary;
                        position:absolute;
                        left:20px;
                    }
                    &:hover{
                        background-color:@color-secondary;
                        color:@color-dark-inverse;
                        text-decoration:none;
                        font-weight:400;
                        &:before{
                            color:@color-dark-inverse;
                        }
                    }
                }
            }
        }
        .grid-view{
            display:none;
        }
        .job-box{
            margin-bottom:30px;
            position:relative;
            background-color:@color-dark-inverse;
            border:lighten(@text-color-darker, 71%) 1px solid;
            .border-radius-4;
            .transition-02s;
            .job-details{
                padding:30px;
                h4{
                    font-family:'Montserrat', sans-serif;
                    font-size:14px;
                    line-height:20px;
                    color:@color-light-inverse;
                    text-transform:uppercase;
                    margin:0px 0 10px;
                }
                h5{
                    font-size:14px;
                    color:@color-light-text;
                    line-height:16px;
                    margin:0 0 8px;
                    padding-bottom:7px;
                    border-bottom:lighten(@text-color-darker, 71%) 1px solid;
                }
                p{
                    font-size:12px;
                    line-height:18px;
                    font-weight:400;
                    color:@color-light-text;
                    height:54px;
                    overflow:hidden;
                    margin-bottom:15px;
                }
                .offer{
                    font-family:'Montserrat', sans-serif;
                    font-size:18px;
                    font-weight:400;
                    color:@color-secondary;
                }
                a.mark-favorite{
                    font-size:22px;
                    color:@color-primary;
                }
            }
            .ribbon{
                padding:3px 12px;
                background-color:@color-secondary;
                font-size:14px;
                font-weight:400;
                color:@color-dark-inverse;
                position:absolute;
                top:5px;
                right:5px;
                .border-radius-4;
            }
            &:hover{
                box-shadow:0 3px 0 0 fade(@color-light-inverse, 30%);
            }
        }
    }
/*Map banner*/
#map {
    position: absolute;
    top: 72px;
    right: 0;
    bottom: 0;
    left: 0;
    color: #000;
}
/*
* ----------------------------------------------------------------------------------------
* 04.BLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.blog-container{
        .blog-small{
            margin-bottom:50px;
            a.blog-image{
                display:block;
                position:relative;
                &:after{
                    border:@color-light-text 4px solid;
                    content:"";
                    position:absolute;
                    left:0;
                    right:0;
                    top:0;
                    bottom:0;
                    background-color:fade(@text-color-darker, 0%);
                    .transition-05s;
                }
            }
            .border-box{
                position:absolute;
                left:10px;
                right:10px;
                top:10px;
                bottom:10px;
                content:"";
                overflow:hidden;
                &:before,
                &:after{
                    width:100%;
                    height:100%;
                    content:"";
                    position:absolute;
                    z-index:9;
                    .transition-05s;
                }
                &:before{
                    left:-100%;
                    border-top:fade(@color-dark-inverse, 30%) 1px solid;
                    border-bottom:fade(@color-dark-inverse, 30%) 1px solid;
                }
                &:after{
                    top:-100%;
                    left:0;
                    border-left:fade(@color-dark-inverse, 30%) 1px solid;
                    border-right:fade(@color-dark-inverse, 30%) 1px solid;
                }
            }
            h2{
                margin:20px 0;
                font-size:16px;
                line-height:20px;
                color:@color-light-inverse;
                text-transform:none;
                > a{
                    color:inherit;
                    text-decoration:none;
                }
            }
            p{
                font-weight:300;
                color:@color-light-inverse;
                margin-bottom:15px;
            }
            a.read-more{
                font-weight:300;
                color:@color-tertiary;
            }
            &:hover{
                a.blog-image{
                    &:after{
                        border:none;
                        background-color:fade(@text-color-darker, 58%);
                    }
                }
                .border-box{
                    &:before{
                        left:0;
                        top:0;
                    }
                    &:after{
                        top:0;
                    }
                }
            }
            &.blog-large{
                position:relative;
                .overlay{
                    position:absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    left:0;
                    background-color:fade(@text-color-darker, 58%);
                    .transition-05s;
                }
                .border-box{
                    left:20px;
                    right:20px;
                    top:20px;
                    bottom:20px;
                    .blog-details{
                        position:absolute;
                        left:20px;
                        right:20px;
                        bottom:40px;
                        z-index:99;
                        h2{
                            font-size:24px;
                            font-weight:700;
                            color:@color-secondary;
                            text-transform:uppercase;
                            > a{
                                color:inherit;
                            }
                        }
                        p{
                            color:@color-dark-inverse;
                        }
                        a{
                            color:@color-secondary;
                        }
                    }
                }
                &:hover{
                    .overlay{
                        background-color:fade(@text-color-darker, 93%);
                    }
                }
            }
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 05.PLANS AND PRICING CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.plans-pricing{
        background:@color-lighter;
        position:relative;
        &:before{
            content:"";
            height:57%;
            position:absolute;
            left:0;
            right:0;
            top:0;
            z-index:0;
            background:@color-secondary;
        }
        h2{
            color:@color-light-inverse;
        }
        p.intro-text{
            color:@color-light-inverse;
        }
        .plan-wrap{
            padding:30px 15px;
            text-align:center;
            border:lighten(@text-color-darker, 71%) 1px solid;
            background-color:@color-dark-inverse;
            position:relative;
            overflow:hidden;
            .transition-05s;
            h1{
                color:@color-tertiary;
            }
            .plan-info{
                padding:30px 15px;
                width:100%;
                height:100%;
                position:absolute;
                top:0;
                left:0;
                background:@color-dark-inverse;
                text-align:center;
                z-index:2;
                .transition-05s;
                h3{
                    margin:10px 0 30px;
                    color:@text-color-darker;
                    > span{
                        font-size:16px;
                        line-height:16px;
                        color:@color-light-text;
                        font-weight:300;
                        display:block;
                        text-transform:none;
                    }
                }
                .plan-intro{
                    padding:25px;
                    margin-bottom:25px;
                    line-height:24px;
                    color:@color-light-inverse;
                    border-top:lighten(@text-color-darker, 71%) 1px solid;
                    border-bottom:lighten(@text-color-darker, 71%) 1px solid;
                }
                p{
                    margin-bottom:0;
                }
                .ribbon{
                    position:absolute;
                    right:-7px;
                    top:12px;
                    > span{
                        font-size:11px;
                        line-height:12px;
                        width:60px;
                        display:block;
                        color:@color-dark-inverse;
                        .rotate-45;
                    }
                    &:before{
                        content:"";
                        border-color:transparent @text-color-darker transparent;
                        border-width:0 75px 75px 0;
                        border-style:solid;
                        position:absolute;
                        top:-12px;
                        right:7px;
                    }
                }
            }
            &:hover{
                .hover-boxshadow;
                .plan-info{
                    top:-100%;
                }
            }
            &:after{
                .clear-float;
            }
            &.essential{
                p > span{
                    background-color:#FFCC00;
                }
            }
            &.elite{
                p > span{
                    color:@color-dark-inverse;
                    background-color:#FF0000;
                }
            }
            &.extended{
                p > span{
                    color:@color-dark-inverse;
                    background-color:#0099CD;
                }
            }
            .plan-details{
                text-align:center;
                position:relative;
                z-index:1;
                .list-check{
                    padding:0;
                    margin:0 0 20px;
                    list-style:none;
                    li{
                        padding:10px 0;
                        display:block;
                        border-bottom:lighten(@text-color-darker, 62%) 1px dotted;
                        color:@text-color-darker;
                        &.deactive{
                            color:lighten(@text-color-darker, 71%);
                        }
                    }
                }
                .btn + .btn{
                    margin-left:10px;
                }
            }
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 06.WHY MEGA JOBS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.why-us{
        background-color:@color-lighter;
        h2{
            margin-bottom:40px;
        }
        .features{
            position:relative;
            padding:40px 0 10px;
            border-top:@color-secondary 1px solid;
            border-bottom:@color-secondary 1px solid;
            &:before,
            &:after{
                height:1px;
                width:100%;
                background-color:@color-secondary;
                position:absolute;
                left:0;
                content:"";
            }
            &:before{
                top:4px;
            }
            &:after{
                bottom:4px;
            }
            ul{
                list-style:none;
                margin:0 0 30px;
                padding:0 8%;
                li{
                    line-height:32px;
                    text-transform:uppercase;
                    a{
                        color:@color-tertiary;
                        &.btn-secondary{
                            margin:0;
                            font-size:18px;
                            color:@color-dark-inverse;
                            text-transform:none;
                        }
                    }
                }
            }
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 07.ALPHA FILTERS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    .alpha-filters{
        .filter-by{
            height:40px;
            a{
                height:40px;
                font-family:'Montserrat', sans-serif;
                font-size:16px;
                line-height:40px;
                display:block;
                text-align:center;
                text-transform:uppercase;
                color:@color-light-inverse;
                text-decoration:none;
                border-right:transparent 1px solid;
                &:hover,
                &:focus,
                &:active,
                &.active{
                    background-color:@color-primary;
                    color:@color-dark-inverse;
                }
            }
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 08.SIGNUP AND SIGNIN CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.signup-signin{
        padding:150px 0 100px;
        background:url(../img/signup-bg.jpg) center center no-repeat;
        position:relative;
        background-size:cover;
        h1{
            color:@color-dark-inverse;
            &.header-text{
                margin:30px 0 15px;
                font-size:48px;
                line-height:50px;
                color:@color-background;
                text-transform:none;
            }
        }
        .signin-form{
            padding:40px;
            margin-bottom:30px;
            background-color:fade(@color-dark, 50%);
            .form-group{
                margin-bottom:35px;
            }
            .register-link{
                margin:30px 0 0 0;
                color:@color-dark-inverse;
                > a{
                    font-size:16px;
                    font-weight:600;
                    margin-left:25px;
                    color:@color-secondary;
                    text-decoration:none;
                    text-transform:uppercase;
                    &:hover,
                    &:focus,
                    &:active{
                        color:@color-dark-inverse;
                    }
                }
            }
        }
        .form-control{
            border:none;
        }
        .desclimer-text{
        	margin:0;
            color:@color-background;
        }
        .nav-tabs{
            border-bottom:1px solid transparent;
            > li{
                margin:0;
                > a{
                    margin:0;
                    padding:15px 50px;
                    font-size:30px;
                    font-weight:300;
                    line-height:32px;
                    text-align:center;
                    border:none;
                    border-radius:0;
                    color:fade(@color-dark-inverse, 30%);
                    background-color:fade(@color-dark, 30%);
                    > span{
                        display:block;
                        font-size:16px;
                        line-height:18px;
                    }
                }
                &.active a,
                &.active a:focus,
                &.active a:hover{
                    color:@color-dark-inverse;
                    background-color:fade(@color-dark, 50%);
                    border:none;
                }
            }
        }
        .tab-content{
            h6{
                font-size:16px;
                line-height:20px;
                margin:0 0 20px;
                color:@color-dark-inverse;
            }
            .form-group{
                margin-bottom:20px;
                &.checkbox{
                    margin-top:40px;
                }
                > p{
                    margin:0;
                    line-height:24px;
                    color:@color-dark-inverse;
                    text-transform:uppercase;
                }
            }
        }
        .countdown-timer{
            margin:60px 0;
            text-align:center;
            border-top:@color-lighter 1px solid;
            border-bottom:@color-lighter 1px solid;
            > span{
                width:140px;
                padding:20px 30px;
                display:inline-block;
                font-size:48px;
                font-weight:300;
                line-height:48px;
                color:@color-lighter;
                border-right:@color-lighter 1px solid;
                &:last-child{
                    border:none;
                }
                > small{
                    font-size:16px;
                    line-height:20px;
                    display:block;
                }
            }
        }
        .input-group-btn{
            .btn{
                height:50px;
                padding:10px 40px;
                text-transform:uppercase;
            }
        }
        &.light{
            background:none;
            h1{
                color:@color-light-inverse;
            }
            .signin-form{
            	background-color:@color-dark-inverse;
                border:lighten(@text-color-darker, 62%) 1px solid;
                .form-group{
                    &.checkbox{
                        color:lighten(@text-color-darker, 20%);
                        input[type="checkbox"] + label{
                            > a{
                                &:hover,
                                &:focus,
                                &:active{
                                    color:@text-color-darker;
                                }
                            }
                            &:before{
                                background-color:lighten(@text-color-darker, 62%);
                            }
                        }
                        > a{
                            &:hover,
                            &:focus,
                            &:active{
                                color:@text-color-darker;
                            }
                        }
                    }
                }
                .register-link{
                    color:lighten(@text-color-darker, 20%);
                    > a{
                        &:hover,
                        &:focus,
                        &:active{
                            color:@text-color-darker;
                        }
                    }
                }
            }
            .form-control{
                border:solid 1px lighten(@text-color-darker, 62%);
            }
            .desclimer-text{
	        	margin:0;
                color:lighten(@text-color-darker, 20%);
            }
            .nav-tabs{
                > li{
                    > a{
                        color:fade(@color-dark-inverse, 40%);
                        background-color:fade(@text-color-darker, 70%);
                    }
                    &.active a,
                    &.active a:focus,
                    &.active a:hover{
                        background-color:@text-color-darker;
                        color:@color-dark-inverse;
                    }
                }
            }
            .tab-content{
                h6{
                    color:lighten(@text-color-darker, 20%);
                }
                .form-group{
                    > p{
                        color:lighten(@text-color-darker, 20%);
                    }
                }
            }
            .countdown-timer{
                border-color:@color-light-inverse;
                > span{
                    border-color:@color-light-inverse;
                    color:@color-light-inverse;
                }
            }
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 09.CHOOSE PLANS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.select-plan{
        background-color:lighten(@text-color-darker, 71%);
        h2{
            margin:15px 0;
        }
        p{
            margin:0 0 30px;
        }
        .btn-group{
            margin-bottom:40px;
            .btn{
                height:40px;
                width:120px;
                padding:0 20px;
                font-size:14px;
                font-weight:500;
                line-height:38px;
                text-transform:uppercase;
                color:@text-color-darker;
                &.btn-toggle{
                    background-color:lighten(@text-color-darker, 71%);
                    border-color:@color-dark-inverse;
                    &.active{
                        background-color:@color-dark-inverse;
                    }
                }
            }
        }
        .service-features{
            p{
                font-size:13px;
                line-height:24px;
            }
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    font-size:13px;
                    line-height:24px;
                    margin-bottom:40px;
                    b{
                        font-size:14px;
                        font-weight:500;
                        text-transform:uppercase;
                    }
                    i{
                        float:right;
                        width:70px;
                        margin-left:25px;
                        text-align:center;
                        color:@text-color-darker;
                    }
                }
            }
        }
        .plan-options{
            > div{
                padding:0;
                .choose-plan-wrap{
                    padding:30px 15px;
                    margin:0 1px 30px 0;
                    height:712px;
                    text-align:center;
                    background-color:@color-lighter;
                    position:relative;
                    .transition-05s;
                    h4{
                        margin:15px 0 30px;
                    }
                    .plan-cost{
                        margin:50px 0;
                        font-size:48px;
                        font-weight:300;
                        line-height:1;
                        > span{
                            font-size:14px;
                            font-weight:700;
                            line-height:24px;
                            display:block;
                            margin-top:10px;
                        }
                    }
                    ul{
                        margin:0 0 30px;
                        padding:0;
                        min-height:290px;
                        list-style:none;
                        li{
                            font-size:14px;
                            font-weight:300;
                            line-height:36px;
                        }
                    }
                    .btn{
                        padding:9px 25px;
                        text-transform:uppercase;
                    }
                    &:hover{
                        background-color:@color-dark-inverse;
                        padding:60px 15px;
                        height:772px;
                        margin:-30px 1px 0 0;
                        z-index:9;
                        .hover-boxshadow;
                        h4,
                        .plan-cost{
                            color:@color-tertiary;
                        }
                        .plan-cost > span{
                            color:@text-color-darker;
                        }
                        .btn{
                            background-color:@color-secondary;
                            border-color:@color-secondary;
                        }
                    }
                }
            }
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 10.ERROR PAGES CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.error-page{
        margin-top:70px;
        position:relative;
        width:100%;
        .error-code{
            text-align:center;
            border-bottom:lighten(@text-color-darker, 62%) 1px solid;
            > img{
                padding:30px 0 60px 0;
            }
        }
        p{
            font-size:24px;
            font-weight:300;
            line-height:40px;
            margin:30px 0;
            > span{
                color:@color-primary;
            }
        }
    }
/*
* ----------------------------------------------------------------------------------------
* 11.ABOUT US PAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/
    &.aboutus{
    	h3{
    		margin:0 0 30px;
    		line-height:30px;
    	}
    	p{
    		line-height:26px;
    		text-align:justify;
    		max-height:208px;
    		overflow:hidden;
    	}
    	a.btn-special{
    		margin-top:30px;
    	}
    }
}

/*
* ----------------------------------------------------------------------------------------
* 12.JOBS AND COMPANY PANEL CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.jobs-tab-panel{
    .nav-tabs{
        border-bottom:@color-lighter 5px solid;
        > li{
            margin:0;
            > a{
                padding:0 20px 15px;
                margin:0;
                color:@color-light-inverse;
                font-family:'Montserrat', sans-serif;
                font-size:20px;
                line-height:24px;
                text-transform:uppercase;
                text-align:center;
                border:none;
                .border-radius-none;
                &:focus,
                &:hover{
                    background-color:transparent;
                    outline:none;
                    color:@color-tertiary;
                }
            }
            &.active a,
            &.active a:focus,
            &.active a:hover{
                color:@color-tertiary;
                border:none;
                box-shadow:0 5px 0 0 @color-tertiary;
            }
        }
    }
    .tab-content{
        padding:30px 0;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 13.JOB & COMPANY LIST CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.job-list{
    list-style:none;
    margin:0;
    padding:0;
    .list-view{
        width:100%;
        padding:30px;
        margin-bottom:3px;
        border-bottom:lighten(@theme-color-secondary, 7%) 1px solid;
        &:nth-child(odd){
        	background-color:lighten(@color-lighter, 2%);
        }
        &:hover{
            background-color:@color-lighter;
        }
        a{
            text-decoration:none;
            img{
                display:inline-block;
                margin:2px 15px 2px 0;
                width:80px;
                vertical-align:top;
            }
        }
        .list-info{
            display:inline-block;
            vertical-align:middle;
            h4{
                font-size:15px;
                font-weight:400;
                line-height:26px;
                margin:0;
                color:@color-dark;
                text-transform:uppercase;
                height:26px;
                width:100%;
                display:inline-block;
                > a{
                    display:block;
                    overflow:hidden;
                    white-space:nowrap;
                    text-overflow:ellipsis;
                    color:@color-dark;
                }
            }
            .btn{
                height:40px;
                padding:9px 25px;
            }
            .btn-inverse{
                margin:0;
                &:hover,
                &:focus,
                &:active{
                    background-color:@color-secondary;
                    border-color:@color-secondary;
                    color:@text-color-darker;
                }
            }
            p{
                font-weight:300;
                > span{
                    > .fa{
                        color:@theme-color-quaternary;
                        &:first-child{
                            margin-left:10px;
                        }
                    }
                }
            }
            &.job-list-info{
                width:~"calc(100% - 99px)";
                &.candidate-info h4{
					width:auto;
				}
            }
        }
        &:after{
            .clear-float;
        }
    }
}
.job-list .job-icons,
.position-intro .job-icons{
    font-size:14px;
    line-height:20px;
    text-transform:uppercase;
    span{
        display:inline-block;
        margin-right:15px;
        color:lighten(@text-color-darker, 20%);
        > i{
            font-size:14px;
            line-height:20px;
        }
        &.full-time{
            color:#E92F2F;
        }
        &.part-time{
            color:#BC9352;
        }
        &.freelance-time{
            color:#669C20;
        }
        &.contract-time{
            color:#BB3333;
        }
    }
    a{
        color:@color-tertiary;
        &:hover{
            color:@text-color-darker;
        }
    }
    &.label-group{
        span{
            margin-right:0;
            margin-bottom:3px;
            &.label-default{
                color:@text-color-darker;
            }
        }
    }
}
.job-list .actionbar,
.position-intro .actionbar{
    height:40px;
    margin-top:10px;
    background-color:lighten(@text-color-darker, 77%);
    > a{
        width:40px;
        height:40px;
        display:block;
        font-size:20px;
        line-height:40px;
        text-align:center;
        background-color:lighten(@text-color-darker, 71%);
        color:@theme-color-quaternary;
    }
    p{
        padding:10px 15px;
        margin:0;
        line-height:20px;
        font-weight:300;
        > span.time-stamp{
            margin-left:10px;
            color:#2A9201;
        }
    }
}
.company-list{
    list-style:none;
    padding:0;
    .company-grid{
        padding:20px 20px 0;
        margin-bottom:30px;
        border:#b1ddff 1px solid;
        .border-radius-4;
        .transition-05s;
        > a{
            float:left;
            text-decoration:none;
            img{
                display:inline-block;
                margin:0px 15px 0px 0;
                width:80px;
                vertical-align:middle;
            }
        }
        .company-info{
            display:inline-block;
            width:~"calc(100% - 95px)";
            h3{
                font-size:18px;
                font-weight:400;
                line-height:22px;
                margin:5px 0 10px;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
            }
            h4{
                font-family:'Lato', sans-serif;
                font-size:14px;
                font-weight:500;
                line-height:18px;
                color:@text-color-darker;
                text-transform:uppercase;
                margin:10px 0;
            }
            p{
                color:@color-light-text;
            }
            h5{
                font-family:'Lato', sans-serif;
                font-size:16px;
                font-weight:400;
                line-height:20px;
                color:@color-tertiary;
                text-transform:uppercase;
                margin:20px 0 30px;
            }
        }
        .actionbar{
            height:60px;
            padding:10px;
            margin:0 -20px;
            text-align:right;
            line-height:40px;
            background-color:@color-background;
            border-radius:0 0 4px 4px;
            .btn{
            	margin:0 0 0 10px;
            }
        }
        &:hover{
            box-shadow:0 3px 0 0 fade(@color-light-inverse, 30%);
        }
    }
}

/*
* ----------------------------------------------------------------------------------------
* 14.RECENT ALERTS CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.recent-alerts{
    padding:0px;
    margin-bottom:20px;
    h4{
        margin:0px;
        padding:0 20px 15px;
        font-size:20px;
        line-height:24px;
        font-weight:400;
        color:@color-light-inverse;
        text-transform:uppercase;
        border-bottom:@color-light-inverse 5px solid;
        > a{
            font-size:13px;
            font-weight:400;
            color:@color-light-inverse;
            text-transform:none;
            &:hover{
                color:@color-light-inverse;
                text-decoration:none;
            }
        }
    }
    ul{
        margin:0;
        padding:20px 20px;
        list-style:none;
        height:324px;
        overflow:hidden;
        li{
            font-size:14px;
            font-weight:300;
            line-height:16px;
            color:@color-light-inverse;
            display:block;
            padding:10px 0 10px 17px;
            position:relative;
            &:before{
                content:"\f105";
                color:@color-tertiary;
                font-family:"FontAwesome";
                font-size:16px;
                font-weight:600;
                position:absolute;
                left:0;
            }
            a{
                color:@color-tertiary;
            }
        }
    }
}

/*
* ----------------------------------------------------------------------------------------
* 15.JOB ALERT CSS STYLE
* ----------------------------------------------------------------------------------------
*/
.job-notification{
    padding:22px;
    background-color:@color-secondary;
    .center-large-title{
    	margin-bottom:20px;
        font-family:'Montserrat', sans-serif;
        font-size:20px;
        line-height:30px;
        color:@color-dark-inverse;
        text-transform:uppercase;
        text-align:center;
    }
    .btn-default{
    	margin-top:20px;
    }
}

/*
* ----------------------------------------------------------------------------------------
* 16.PAGINATION CSS STYLE
* ----------------------------------------------------------------------------------------
*/
ul.pagination{
    margin:20px 0 0 0;
    li{
        height:40px;
        font-size:16px;
        font-weight:400;
        display:inline-block;
        vertical-align:top;
        line-height:40px;
        margin-left:5px;
        a{
            height:40px;
            width:40px;
            padding:6px 3px;
            line-height:26px;
            text-align:center;
            display:block;
            margin:0;
            background-color:@color-lighter;
            color:@color-light-inverse;
            border:none;
            .transition-02s;
            > i{
                font-size:24px;
            }
            &:hover,
            &:focus{
                background-color:darken(@color-lighter, 10%);
                box-shadow:0 3px 0 0 fade(@color-light-inverse, 30%);
            }
        }
        &.page-text{
            padding:0 10px 0 10px;
        }
        &.page-text:last-child{
            padding:0 10px 0 5px;
        }
        &:first-child > a,
        &:last-child > a{
            border-radius:0;
        }
        input[type="text"]{
            height:40px;
            width:40px;
            border:@color-lighter 1px solid;
            padding:6px 3px;
            text-align:center;
        }
    }
}

/*
* ----------------------------------------------------------------------------------------
* 17.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/
footer{
    padding:100px 0 10px;
    background-color:@color-light-inverse;
    a.footer-logo{
        display:inline-block;
        margin:5px 0 26px;
    }
    p{
        font-weight:300;
        line-height:24px;
        color:@color-dark-inverse;
    }
    h5{
        margin:15px 0 30px;
        color:@color-secondary;
        text-transform:uppercase;
    }
    ul.quick-links{
        padding:0;
        margin:0;
        list-style:none;
        li a{
            font-weight:300;
            line-height:36px;
            color:@color-dark-inverse;
            display:block;
            text-decoration:none;
            .transition-02s;
            &:hover{
                padding-left:10px;
            }
        }
    }
    .copyright{
        margin-top:30px;
        padding:30px 0 20px;
        position:relative;
        text-transform:uppercase;
        border-top:fade(@text-color-darker, 35%) 1px solid;
        color:@color-dark-inverse;
        &:before{
            display:block;
            content:"";
            width:100%;
            height:1px;
            position:absolute;
            top:0;
            background-color:fade(@color-dark-inverse, 30%);
        }
        a{
            color:@color-secondary;
            display:inline-block;
        }
        .author-info{
            text-align:right;
        }
    }
}

address{
    background-color:@color-lighter;
    padding:15px;
    font-size:16px;
    line-height:24px;
    border-radius:5px;
    color:lighten(@text-color-darker, 20%);
    box-shadow:0 3px 0 0 fade(@color-light-inverse, 30%);
    strong{
        font-size:18px;
        display:block;
        margin-bottom:5px;
    }
}
ul.social-links{
    padding:0;
    margin:0;
    list-style:none;
    display:inline-block;
    li{
        display:block;
        float:left;
        margin:10px;
        a{
            width:30px;
            height:30px;
            border:lighten(@text-color-darker, 62%) 1px solid;
            text-align:center;
            line-height:30px;
            color:lighten(@text-color-darker, 62%);
            font-size:16px;
            text-decoration:none;
            .transition-05s;
            &:hover{
                color:@color-dark-inverse;
                border-color:@color-dark-inverse;
                margin-top:-5px;
            }
        }
    }
}

.inner-banner{
    min-height:200px;
    padding:120px 0 50px;
    background:lighten(@color-secondary, 4%);
    h1{
    	margin-bottom:30px;
    	color:@color-light-inverse;
    }
    .btn.btn-default{
    	height:50px;
    	padding:9px 35px;
    	line-height:30px;
    	text-transform:uppercase;
    }
    .alpha-filters{
    	margin-top:10px;
    }
    .sidebar{
        margin-top:30px;
        .filters-wrap{
            margin:0;
            .category-title{
                text-transform:uppercase;
                a{
                    font-size:22px;
                    color:@color-dark-inverse;
                    > span{
                        line-height:24px;
                    }
                    &:hover,
                    &:focus,
                    &:active{
                        color:@color-light-inverse;
                        text-decoration:none;
                    }
                }
            }
            .filter-list{
                img{
                    margin-bottom:10px;
                }
                p{
                    font-weight:300;
                    line-height:20px;
                    color:lighten(@text-color-darker, 20%);
                    > b{
                        display:block;
                        font-weight:normal;
                        color:@text-color-darker;
                    }
                }
                a.link{
                    margin:20px 0;
                    display:inline-block;
                    color:@color-tertiary;
                    text-decoration:none;
                    &:hover,
                    &:focus,
                    &:active{
                        color:@text-color-darker;
                    }
                }
                .followers-count{
                    margin:10px 0;
                }
            }
        }
    }
}

.search-result-values{
    padding:15px 0;
    background-color:lighten(@text-color-darker, 77%);
    .grid-shadow;
    h5{
        text-transform:none;
    }
    h6{
        margin:10px 0;
    }
    .btn-inverse{
        margin:0 0 0 15px;
        text-transform:uppercase;
    }
    .search-company{
        padding:4px;
        background-color:@color-dark-inverse;
        border:lighten(@text-color-darker, 71%) 1px solid;
        .form-control{
            border-radius:0;
            height:40px;
            padding:10px;
            border:none;
            box-shadow:none;
            width:~"calc(100% - 140px)";
            display:inline;
        }
        .btn-inverse{
            font-weight:400;
            padding:10px 25px;
        }
    }
}

.search-result{
    h5{
        margin-bottom:45px;
    }
}

.position-intro{
    padding:30px 30px 0;
    margin-top:30px;
    background-color:@color-dark-inverse;
    .company-info{
        h1{
	        width:100%;
	        > small{
	        	line-height:inherit;
	        	font-weight:400;
	        	color:@color-tertiary;
	        }
        }
        p{
            color:@color-light-inverse;
        }
    }
    h1{
        font-size:18px;
        font-weight:400;
        line-height:24px;
        color:@color-light-inverse;
        margin:0 0 5px 0;
        width:~"calc(100% - 100px)";
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    .btn-group{
        margin:36px 0 30px;
        width:100%;
	    .btn{
	    	height:40px;
	    	padding:9px 15px;
	    }
    }
    .actionbar{
        margin:0 -30px;
    }
    address{
        margin:30px 0;
        overflow:hidden;
    }
}

.position-details{
    h5{
        margin:0 0 40px;
        text-transform:uppercase;
    }
    .well{
        font-weight:300;
        line-height:36px;
        padding:15px 20px;
        margin-bottom:30px;
        border:none;
        border-radius:0;
        box-shadow:none;
    }
    .label-group{
        display:block;
        .label{
            margin-bottom:3px;
        }
    }
    .position-footer{
        background-color:lighten(@text-color-darker, 77%);
        padding:20px;
        margin:30px 0 60px;
        .btn{
        	height:40px;
        	padding:9px 15px;
        }
    }
    .similar-jobs-section{
        h5{
            position:relative;
            padding-bottom:15px;
            border-bottom:lighten(@text-color-darker, 71%) 1px solid;
            &:after{
                content:"";
                height:1px;
                width:100%;
                display:block;
                position:absolute;
                bottom:4px;
                background-color:lighten(@text-color-darker, 71%);
            }
        }
        &.job-list{
            .list-view{
                .list-info{
                    display:block;
                    padding:0;
                    h4{
                        display:block;
                        width:100%;
                    }
                    .job-icons{
                        margin-bottom:10px;
                    }
                    p{
                        > b{
                            font-weight:400;
                        }
                        .time-stamp{
                            color:#2a9201;
                            margin-left:10px;
                        }
                    }
                }
            }
        }
    }
}

.candidate-profile{
    .primary-info{
        font-size:16px;
        .fa{
        	font-size:22px;
            text-align:center;
            margin:15px 10px 15px 0;
            vertical-align:middle;
        }
        p{
            font-size:16px;
            line-height:26px;
            margin-bottom:25px;
            color:lighten(@text-color-darker, 20%);
        }
    }
    .timeline{
        margin:0;
        padding:0;
        list-style:none;
        position:relative;
        &:before{
            content:"";
            width:9px;
            position:absolute;
            top:0;
            bottom:0;
            left:5px;
            background-color:lighten(@text-color-darker, 71%);
            border-radius:2px;
        }
        li{
            position:relative;
            padding:30px 0 15px 45px;
            &:before{
                width:19px;
                height:19px;
                content:"";
                position:absolute;
                left:0;
                top:34px;
                border-radius:10px;
                background-color:lighten(@text-color-darker, 20%);
            }
            &:first-child:before{
                background-color:@color-tertiary;
            }
            p{
                font-size:14px;
                line-height:26px;
                color:lighten(@text-color-darker, 20%);
                > b{
                    display:block;
                    font-size:16px;
                    font-weight:400;
                    margin-bottom:15px;
                    color:@text-color-darker;
                }
            }
        }
    }
}

.sidebar{
    .filters-wrap{
        margin-bottom:20px;
        border:@color-secondary 1px solid;
        .category-title{
            padding:12px;
            font-family:'Montserrat', sans-serif;
            font-size:18px;
            line-height:24px;
            font-weight:400;
            color:@color-dark-inverse;
            background-color:@color-secondary;
            position:relative;
            a.expand{
                color:@color-dark-inverse;
            }
        }
        .filter-list{
            padding:7px 15px;
            .input-group{
                display:block;
                margin:7px 0px;
                position:relative;
                > input{
                    width:100%;
                    height:38px;
                    border:none;
                    font-weight:300;
                    color:@color-light-inverse;
                    padding:10px 35px 10px 15px;
                    background-color:@color-lighter;
                    + i{
                        position:absolute;
                        font-size:18px;
                        line-height:38px;
                        color:@color-light-inverse;
                        top:0;
                        right:10px;
                    }
                }
            }
            ul{
                list-style:none;
                margin:0;
                padding:0;
                li{
                    padding:8px 0;
                    height:40px;
                    label{
                        font-weight:300;
                        margin:0;
                        height:24px;
                        line-height:24px;
                        overflow:hidden;
                        white-space:nowrap;
                        text-overflow:ellipsis;
                        width:~"calc(100% - 50px)";
                    }
                    span{
                        line-height:24px;
                    }
                }
            }
            form{
            	margin-top:8px;
            	margin-bottom:8px;
            }
            .form-control{
                height:30px;
                padding:5px 15px;
            }
            input[type="number"].form-control{
                padding:5px;
            }
        }
    }
    .job-notification{
        margin-bottom:30px;
    }
    .keywords-wrap{
        margin-bottom:30px;
        display:inline-block;
        .label{
            height:30px;
            padding:6px;
            margin:0 6px 6px 0;
            font-size:14px;
            font-weight:300;
            color:@text-color-darker;
            text-decoration:none;
            border:lighten(@text-color-darker, 62%) 1px solid;
            border-radius:2px;
            float:left;
        }
    }
    a.advertisement{
        display:inline-block;
        margin-bottom:30px;
    }
    .user-intro{
        margin-bottom:30px;
        background-color:lighten(@text-color-darker, 71%);
        > img{
            border-bottom:@color-tertiary 5px solid;
        }
        .candidate-info{
            padding:0 30px 30px;
            text-align:center;
            .img-circle{
                margin:-85px 0 20px;
                border:@color-tertiary 5px solid;
            }
            h4{
                font-weight:600;
                text-transform:none;
                color:@color-tertiary;
            }
            p{
                margin:0;
            }
            .rating-star{
                margin-top:10px;
                font-size:17px;
                > .fa{
                    color:@theme-color-quaternary;
                }
            }
            ul.social-links{
                display:inline-block;
                margin:20px 0 0 0;
                li{
                    > a{
                        border-color:lighten(@text-color-darker, 20%);
                        color:lighten(@text-color-darker, 20%);
                    }
                }
            }
        }
    }
    .social-connect{
        text-align:center;
        .btn.btn-special{
            height:50px;
            padding:9px 20px;
            margin-bottom:20px;
            font-size:16px;
            line-height:30px;
            > .fa{
                font-size:20px;
                margin-right:10px;
                vertical-align:middle;
            }
        }
    }
}

ul.list-item{
    margin:0 0 30px;
    padding:0;
    li{
        font-weight:300;
        line-height:26px;
        padding:0 0 10px 30px;
        list-style:none;
        &:before{
            content:"\f138";
            font-family:"FontAwesome";
            font-size:14px;
            line-height:26px;
            color:lighten(@text-color-darker, 62%);
            position:absolute;
            left:17px;
        }
    }
}

form{
    .form-group{
        margin-bottom:20px;
        position:relative;
        &.checkbox{
            font-size:14px;
            line-height:20px;
            font-weight:400;
            color:@color-dark-inverse;
            input[type="checkbox"] + label{
                padding-left:35px;
                > a{
                    color:@color-secondary;
                    text-decoration:none;
                    &:hover,
                    &:focus,
                    &:active{
                        color:@color-dark-inverse;
                    }
                }
                &:before{
                    height:20px;
                    width:20px;
                    top:0;
                    border:none;
                    border-radius:0;
                    background-color:@color-dark-inverse;
                }
                &:after{
                    top:2px;
                }
            }
            > a{
                margin-left:15px;
                color:@color-secondary;
                text-decoration:none;
                &:hover,
                &:focus,
                &:active{
                    color:@color-light-inverse;
                }
            }
        }
        .custom-input{
            > span{
                height:50px;
                padding:10px 20px;
            }
        }
        &.custom-select:after{
            content:"\f0d7";
            font-family:"FontAwesome";
            font-size:24px;
            color:lighten(@text-color-darker, 20%);
            line-height:48px;
            text-align:center;
            height:48px;
            width:30px;
            display:block;
            background-color:@color-dark-inverse;
            position:absolute;
            top:1px;
            right:1px;
            pointer-events:none;
        }
        textarea.form-control{
            height:90px;
            resize:none;
        }
    }
}

.form-inline .form-control{
    padding:8px 15px;
    text-transform:none;
}

.team-member{
	background-color:@color-dark-inverse;
	.team-mate-intro{
		padding:30px;
		h4{
			margin-top:0;
			line-height:24px;
		}
		h6{
			font-family:'Lato', sans-serif;
			font-size:16px;
			line-height:18px;
			font-weight:400;
			margin:0 0 25px;
			text-transform:uppercase;
		}
		p{
			line-height:26px;
			font-weight:300;
			max-height:156px;
			margin-bottom:25px;
			overflow:hidden;
			text-align:justify;
		}
		ul.social-links{
			li{
				margin:0 12px 0 0;
				a{
					color:fade(@color-light-inverse, 50%);
					border-color:fade(@color-light-inverse, 50%);
					&:hover{
						color:@color-light-inverse;
						border-color:@color-light-inverse;
						margin-top:-5px;
					}
				}
			}
		}
	}
}
.client-list{
    margin-bottom:-20px;
	a{
		margin:0 10px 20px;
		display:inline-block;
	}
}

.form-control{
    box-shadow:none;
    border-color:lighten(@text-color-darker, 71%);
    color:@color-light-inverse;
    &:not(.note-image-input){
        height:50px;
        padding:15px;
        border-radius:0;
        &::-webkit-input-placeholder{
            color:@text-color-darker;
        }
        &::-moz-placeholder{
            color:@text-color-darker;
        }
        &:-ms-input-placeholder{
            color:@text-color-darker;
        }
        + span.required{
            display:none;
        }
        &[required] + span.required{
            font-size:18px;
            display:block;
            width:18px;
            line-height:1.3;
            color:#FF0000;
            text-align:center;
            position:absolute;
            top:0px;
            right:0px;
            z-index:10;
            pointer-events:none;
            &:before{
                content:"";
                border-style:solid;
                border-width:30px 0px 0px 30px;
                border-color:fade(@text-color-darker, 24%) transparent;
                position:absolute;
                top:0;
                right:0;
                z-index:-1;
            }
        }
    }
}
