/*
* ----------------------------------------------------------------------------------------
Author       :  pixshed
Template Name:  Mega Jobs - Job board
Version      :  1.0
* ----------------------------------------------------------------------------------------
*/

// =============================================================================
// COLORS
// =============================================================================
@color-background:#f2fafc;

@color-primary:#f53157;
@color-primary-inverse:contrast(@color-primary, #344154, #FFF);

@color-secondary:#55d3e1;
@color-secondary-inverse:contrast(@color-secondary, #344154, #FFF);

@color-tertiary:#1b9cff;
@color-tertiary-inverse:contrast(@color-tertiary, #344154, #FFF);

@color-dark:#0e1218;
@color-dark-inverse:#FFF;

@color-lighter:#f1f9fc;
@color-light-inverse:#344154;
@color-light-text:#7d8b9e;

// Theme Heighlight Colors
@theme-color-primary:#f53157;
@theme-color-secondary:#55d3e1;
@theme-color-tertiary:#1b9cff;
@theme-color-quaternary:#FF8111;

// Text Colors
@text-color-darker:#333333;
@text-color-dark:#344154;